<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
            <title>Fragment</title>
            <link rel="stylesheet" type="text/css" href="http://gandalf.aksis.uib.no/mpf/page.css"/>
        </meta>
    </head>
    <body topmargin="20" leftmargin="20" marginheight="10" marginwidth="0" onResize="resizeVindu();">
        <table class="headbar" width="700">
            <tr>
                <td rowspan="3" valign="top"><img src="http://gandalf.aksis.uib.no/mpf/grafikk/fragments_logo_web.gif" width="200"/></td>
                <td valign="top" align="right">
                    <span class="mainmenu"><a href="http://gandalf.aksis.uib.no/mpf/">HOME</a> | 
    <a href="http://gandalf.aksis.uib.no/mpf/about_fragments.page">PROJECT</a> | 
    <a href="http://gandalf.aksis.uib.no/mpf/people_fragments.page">PEOPLE</a> | 
    <a href="http://gandalf.aksis.uib.no/mpf/news_fragments.page">NEWS</a> | 
    <a href="http://gandalf.aksis.uib.no/cgi-bin/mpf/xiki/edit.cgi?page=/fragments/TestTabell.page">(EDIT)</a></span></td>
            </tr>
            <tr>
                <td valign="top" align="right"><span class="mainheadline">MEDIEVAL PARCHMENT FRAGMENTS </span><br/><span class="mainheadline">AT BERGEN UNIVERSITY LIBRARY</span></td></tr>
            <tr><td><span align="right" valign="top" class="participants">
            Participants: <a href="http://www.ub.uib.no/">Bergen University Library</a> | 
                <a href="http://www.uib.no/cms/">CMS - Center for Medival Studies</a> | 
            </span>
                <span align="right" class="participants"><a href="http://www.aksis.uib.no/">Aksis</a>
                        | <a href="http://www.menota.org">Menota</a></span></td>
            </tr>
        </table>
       <table border="0" cellpadding="3" cellspacing="0" width="700">
           <td valign="top" colspan="2" class="main">
               <table width="400" border="0" cellspacing="10" cellpadding="10">
                   <tr><td><div class="head1">The Canon missae fragment</div>Parchment, one leaf from an incunable, 38 x 23 cm, Unknown origin, second half of the 15th century. <br/><br/>
                       <div class="head4">Manuscript Identification</div>
                       <div><span class="head4">Repository: </span>Bergen University Library</div>
                       <div><span class="head4">Signature: </span>MS 1550, 2</div>
                       <br/>
                       <div class="head2">Introduction</div><br/>
                       <table width="400" border="0" cellspacing="10" cellpadding="10">
                           <tr><td>Tertius</td><td></td></tr>
                       </table>
                       <div class="head2">Manuscript Content</div>
                       <div class="head2">Physical Description</div>
                           <div>Lay-out: </div><br/>
                           <div>Script: </div><br/>
                           <div>Initials: </div><br/>
                           <div>Condition: </div><br/>
                       <div class="head2">History</div><span class="head3">Origin: </span><div>Origin unknown, second half of the 15th century.</div><br/>
                                                        
                      <span class="head3">Provenance: </span>
                      <span class="head3">Acquisition: </span>
                      <p><b><div class="head3">Bibliography</div></b></p>
                       <ul type="disk">
                           <li></li>
                       </ul>
           </td>
                   </tr>
               </table>
           </td>
           <td width="200" valign="top">
               <table width="200" border="0" cellspacing="0" cellpadding="4">
                   <tr><td>UBB MS 1550, 2, recto<br/><a href="../facsimiles/UBB%20MS%201550,%202a.jpg" target="UBB MS 1550, 2, recto"><img src="../facsimiles/UBB%20MS%201550,%202a.jpg" width="190"/></a>
                   </td>
                   </tr>
               </table>
           </td>
       </table>
    </body>
</html>