<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1549, 3
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201549,%202.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201549,%204.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1549, 3</h1>
         <h2>The St Mauritius Antiphoner fragment</h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>The St Mauritius Antiphoner fragment is a bifolium, a double leaf, containing
                  parts of the Office for the St Mauritius et socii (22 september). The fragment
                  was bought in Copenhagen, and given to Bergen museum in 1864. The gothic
                  notation, also known as "Hufnagel", was mainly used in Germany and Eastern
                  Europe, and it is likely that the Antiphoner has German origin. Mauritius is
                  said to have been a soldier and the leader of the socalled Theban legion from
                  Egypt. The legend says that he was killed along with 6 666 of his men, for
                  refusing to slaughter christians under one of the Roman persecutions. According
                  to the legend Mauritius and his legion was killed at Agaunus in Wallis (now
                  Saint-Maurice-en-valais) in the Rhone valley ca 300. From the 8th century he was
                  celebrated throughout the Christian world. St Mauritius is among other things
                  the patron saint for soldiers, including the Swiss guard of the Vatican.
               </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201549,%203a.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%203a.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%203b.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%203b.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%203c.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%203c.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%203d.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%203d.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1549, 3</p>
               <h2>altName</h2>
               <p>MS 410, 3</p>
               <h2>altName</h2>
               <p>Ant 51 (Gjerløw)</p>
            </div>
            
            <h4>
               The St Mauritius Antiphoner fragment
               [Parchment, one bifolium, fol. size ca 37 x 27,5 cm,
               Germany, 15th century.]
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>Contents: The contents is the end of the first nocturn and the beginning
                  of the second nocturne of the Matins, the night-office of St. Mauritius
                  and socii (22 September). From the first nocturne we have the last
                  responsory, describing how the Theban legions crossed the river
                  Octodurum after hearing (and refusing) the cruel emperor's orders, and
                  how they arrived in Agaunus. From the second nocturne we have the first
                  three antiphons written out in full with their psalms indicated. The
                  antiphons are now quoting the thoughts of the Theban legion, like the
                  first antiphon: "We know how to fight against the unpious, but we are
                  utterly incapable of slaughtering the pious and our fellow citicens."
                  The second antiphon continues: "We hold our weapons and do not uprise,
                  because we are prepared to die rather than kill." The third antiphon
                  describes how the emperor's men, the "crudeles" draw their weapons on
                  the legion. The first responsory introduces Mauritius, the primicerius,
                  as well as two other officers, the signifer Exuperius and the senator
                  Candidus, who make the men obey them out of love rather than fear. In
                  the second responsory the emperor gives his horrible command, and then
                  our fragment ends.
               </p>
               
               <p> Written with pen on the lower right of 420r: "410 3. /givet 1864 af
                  Frøken Caroline Kÿhle, havde faaet dette Blad af en
                  Boghandler i Kjøbenhavn:/" (In primo nocturno) f. 419:
                  (Resp.) Cognoscens Thebea (no CAO number). V. Ut octo milium. pro.
                  Gloria patri. In secundo nocturno (rubric). (Ant.) Nos pugnare (CAO
                  3959) Ps. Verba mea. (suprascript with a later hand: "fol: 2") (Ant.)
                  Tenemus ecce arma. (CAO 5132) Ps. Domine dominus noster.(suprascript
                  with a later hand: "fol: 4") Ant. Cumque missi. (CAO 2066) Ps. Do(mine),
                  q(uis) h(abitavit). (suprascript with a later hand: "fol: 8") (Resp.)
                  Erant in eadem legione (no CAO number). V. Viri in bello strenui. Resp.
                  Post preceptum (no CAO number).
               </p>
               
               <p> The clue to a closer identification of the manuscript could be the
                  chants not found in the Corpus Antiphonalium Officii or the Cantus
                  on-line database: The responsories Cognoscens thebea, Erant in eadem
                  legione and Post preceptum.
               </p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>Parchment, one bifolium fol. size ca 37 x 27,5
                  cm
               </p>
               
               <p>Lay-out: The bifolium was the inner one of the quire, and the two folia
                  are marked with 419 and 420. No visible ruling apart from the lines for
                  the notation. Writing space ca 27 x 19 cm, one column, 8 lines per
                  pages.
               </p>
               
               <p>The fragment is in good condition, and still relatively white, although a
                  bit stained.
               </p>
               
               <p>Script: Gothic textualis. Rubricated. Musical notation: Gothic notation
                  (Hufnagel) on five brown lines, marked with both c and f-keys. 
               </p>
               
               <p>Initials: There are two categories of initials. The plain red or blue
                  alternating initials seem to be higher in the hierarchy. Coloured
                  initials are used for the first antiphon in the row of three, and the
                  responsories. The small letters indicating the desired coloured initial
                  are still visible. The secondary kind is a more complex gothic initial
                  with red filling, though without decorative elements apart from the red
                  stripe and the shape of the letter itself. 
               </p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>The Antiphoner was probably written in Germany in the 15th century.
               (Date supplied by prof. Ludwig Bieler, Dublin, in note from 6/7
               1964.) 
            </p>
            
            <H3>provenance</H3>
            
            <p>The bifolium was according to the older catalogue bought in
               Copenhagen.
            </p>
            
            <H3>acquisition</H3>
            
            <p>A gift to the Bergen Museum from ms. Caroline Kyhle in 1864.</p>
            
            
            <h3>Bibliography</h3>
            <p>Cantus, A Database for Latin Ecclesiastical Chant: <a href="http://publish.uwo.ca/~cantus/">http://publish.uwo.ca/~cantus/</a></p>
            <p>Hesbert, R. J.: Corpus Antiphonalium Officii (CAO), Roma, Herder,
               1963-1979.<a href="http://www.katolsk.no/biografi/mauritiu.htm">http://www.katolsk.no/biografi/mauritiu.htm</a>
               
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript
               Catalogue [unpublished]
            </p>
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>