<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1550, 1
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201549,%207c.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201550,%202.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1550, 1</h1>
         <h2>The Kyrie-Gloria Gradual fragment</h2>
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>This fragment at some point became a part of Bergen Museum’s collection of diplomas
                  (now under the University Library). How, why and when is not known. It was stored
                  together with some other parchment fragments until 1967, when it was properly catalogued
                  and moved to the rest of the fragments in the manuscript collection. The Gothic musical
                  notation (also called “Hufnagel”) suggests a German origin. The script and five line
                  notation makes it probable that the manuscript was written some time in the 15th century.
                  The contents, two Kyrie and two Gloria melodies, are from the ordinarium missae part
                  of a Gradual. Similarities in the content to a German 16th century gradual from Langendorf
                  in Naumburg see, Saxony, could perhaps suggest a common rite (cf. Contents). The town
                  of Naumburg joined the Hanseatic Leage in 1432, and the German community in Bergen
                  in the Hansa period could perhaps explain the presence of the fragment, but this is
                  mere speculation. 
               </p>
            </div>
            <div id="facsimilies">
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201550,%201a.jpg"><img class="small" alt="UBB MS 1550, 1, recto" src="../facsimiles/UBB%20MS%201550,%201a.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201550,%201b.jpg"><img class="small" alt="UBB MS 1550, 1, verso." src="../facsimiles/UBB%20MS%201550,%201b.jpg" width="180"></a></div>
               
            </div>
         </div>
         <div id="meta">
            
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1550, 1</p>
            </div>
            
            <h4>The Kyrie-Gloria Gradual fragment
               [Parchment, one leaf, 42,5 x 25 cm, Germany, 15th century.]
               
            </h4>
            
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The fragment begins in the Ordinarium missae part of a Gradual, in the middle of  Kyrie. The Kyrie melody is Kyrie XIV in the
                  Graduale Romanum (editio Vaticana, 1908)(cf. Graduale triplex p. 757). This Kyrie melody is labelled no. 68 in Margareta Melnicki’s work on Kyrie
                  melodies. Then follows Gloria, which is not the Gloria following Kyrie XIV in the
                  Vaticana, but Gloria XI (cf. Graduale triplex p. 749). This Gloria melody is given the nr. 51 by Detlev Bosse in his work on Gloria
                  melodies from 1954. On the next page, after the rubric “in duplicibus” (pointing to
                  the degree of the church feast) comes the Kyrie XI from the Vaticana (cf. Graduale triplex p. 748), no. 16 in Melnicki. The first lines of Gloria II in the Vaticana follows
                  (cf. Graduale triplex p. 715), Bosse no. 19. To sum up:
               </p>
               
               <p>
                  
                  <table>
                     
                     <tr>
                        <td>1550, 1b:</td>
                     </tr>
                     
                     <tr>
                        <td>Kyrie: Vat. Ky. XIV (Iesu redemptor)</td>
                        <td>Graduale triplex p. 757</td>
                        <td>Melnicki no. 68.</td>
                     </tr>
                     
                     <tr>
                        <td>Gloria: Vat. Gl. XI</td>
                        <td>Graduale triplex p. 749</td>
                        <td>Bosse no. 51.</td>
                     </tr>
                     
                     <tr>
                        <td>1550, 1a:</td>
                     </tr>
                     
                     <tr>
                        <td>Kyrie: Vat. Ky. XI (Orbis factor)/ad lib. X</td>
                        <td>Graduale triplex p. 748	</td>
                        <td>Melnicki no. 16.</td>
                     </tr>
                     
                     <tr>
                        <td>Gloria: Vat. Gl. II</td>
                        <td>Graduale triplex p. 715</td>
                        <td>Bosse no. 19.</td>
                     </tr>
                     
                  </table>
                  
               </p>
               
               <p>Both our Kyries are categorised by Melnicki as belonging to her Group 1: Kyries which
                  are commonly and often found in manuscripts in at least three countries (Melnicki
                  1954, p. 26). The same thing goes for our Gloria melodies in Bosse’s research: They
                  both appear in most of Europe in most of the middle ages (Bosse 1954, p. 25-28). However,
                  the order in which the Kyries and Glorias appear in this manuscript could be a clue to closing
                  in on the origin. If we look only at the German manuscript in Bosse’s research, only
                  8 of the German manuscripts (out of the 112 German mss used in the study) contain
                  both Gloria melodies within the same manuscript. Only 3 of these have the Gloria’s
                  in the right order, and relatively close to each other. These three are: 
               </p>
               
               <p>Germany, Berlin Staatsbibl. mus. ms. 40 002; “Graduale der Kath. Eschenfeld aus dem
                  Benediktinerinnenstift Langendorf”, 1551. (ff. 133-134) 
                  Germany, Berlin Staatsbibl. theol. 2º (folio) 689; German gradual 15th century (ff.
                  203-205)
                  Germany, Engelberg Stiftsbibl. 1; Gradual from Offenburg, 15th century (ff. 289-298)
               </p>
               
               <p>The first two mss are a match not only for the Gloria melodies, but also for the Kyries.
                  While the second ms contain other melodies from the ordinarium in between, the first ms, from Langendorf, follow our fragment faithfully, with the
                  Kyries and Glorias appearing in the same order, with the same melodies, and with the
                  rubric “in festis duplicibus” in the same position. Langendorf is in Naumburg see,
                  Saxony, and the town of Naumburg joined the Hanseatic Leage in 1432. The similarities
                  in the contents of the Langendorf ms and our fragment could suggest a common rite,
                  but with only two Kyrie and two Gloria melodies extant in our fragment, it is impossible
                  to give a certain answer.   
               </p>
               
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               <p>Parchment, one leaf,42,5 x 25 cm.</p>
               
               <p>Lay-out: A fine pen ruling around the edges of the writing space. No other ruling
                  apart from the lines for the notation. Full writing space is 34,5 x &gt;22 cm. One column,
                  with 9 lines.
               </p>
               
               <p>Script: Gothic formal book script, textualis formata. The u’s are marked with small circles. The i’s are sometimes marked with thin, vertical
                  hair-lines. Rubricated. Gothic musical notation (Hufnagel) on five brown lines.
               </p>
               
               <p>Initials: There are two categories of initials. Highest in the hierarchy are the plain
                  red or blue alternating initials. The first initial after the rubric is slightly more
                  decorated, with two small ornaments. The secondary kind is a more complex gothic initial,
                  black with red fillings and thinner pen decorations inside the frame of the letter.
               </p>
               
               <p>Condition: The fragment is in relatively good condition. The verso page, which was
                  facing out while the fragment was used as a cover, is a bit darker and more smudged
                  than the recto page. There is a 2,5 cm fold on the top. The folds on the sides and
                  the bottom are straightened out. 
               </p>
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            <p>Probably Germany, 15th century, based on script and notation. The contents bear similarities
               to a Gradual from Langendorf, Saxony, but no certain answer can be given based on
               merely two Kyrie and two Gloria melodies.
            </p>
            
            <H3>provenance</H3>
            
            <p>Used as a book cover. Was kept in the diploma collection of Bergen Museum (Bergen
               University Library), in a box marked (Diplom) “Uden Aar” (“Undated”), in an envelope
               marked “Blade af en latinsk Bønnebog, No A.” (“Leaves from a Latin prayer book, No.
               A”). More information was by 1967 not known. The similarities between this fragment
               and a Gradual from Langendorf in Naumburg see might suggest a Hansa connection, since
               Naumburg was made part of the Hanseatic Leage in 1432. This, however, is speculation.
               
            </p>
            
            <H3>acquisition</H3>
            
            <p>Unknown.</p>
            
            
            <h3>Bibliography</h3>
            <p>Bosse, Detlev 1954: Untersuchung einstimmiger mittelalterlicher melodien zum “Gloria
               in excelsis deo”, Inaugural-Dissertation, Erlangen.
            </p>
            <p>Melnicki, Margareta 1954: Das einstimmige Kyrie des lateinischen Mitteralters, Inaugural-Dissertation,
               Erlangen.
            </p>
            <p>Graduale triplex, Solesmes 1979.</p>
            <p>Jeep, John M. (ed.) 2001: Medieval Germany, An Encyclopedia, New York and London,
               pp. 558-559.
            </p>
            <p><a href="http://www.vhs-wsf.de/Klosterkirche-Langendorf/">www.vhs-wsf.de/Klosterkirche-Langendorf/</a></p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript Catalogue [unpublished]</p>
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>