<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1836, 1
         Mattias Tveitane
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201550,%207.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201836,%202.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1836, 1</h1>
         <h2>Fragments of the younger code of law of King Magnus the Law-Mender</h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>In 1981 Bergen University Library bought these two fragments, together with 1836,
                  2, from the antiquarian bookshop Cappelens Antikvariat, Oslo. The two fragments
                  contain text from a code of law, and are written in an Old Norwegian dialect.
               </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201836,%201a%201.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201836,%201a%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201836,%201a%202.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201836,%201a%202.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201836,%201b%201.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201836,%201b%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201836,%201b%202.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201836,%201b%202.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1836, 1</p>
            </div>
            
            <h4>
               Fragments of the younger code of law of King Magnus the Law-Mender
               [Parchment, two leaves, 110 x 80 mm, Norway, early
               14th century.]
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The fragments contain text from "Magnus Lagabøters Nyere
                  Landslov" (younger code of law of King Magnus the Law-Mender). 
               </p>
               
               <p>For reference to the corresponding part of the text in the edition Norges
                  Gamle Love, see bibliography
               </p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>Parchment, two fragments from the same leaf, 110 x 80
                  mm
                  
               </p>
               
               <p>The two parts fit exactly together, without loss of text in the
                  intersection. Fragment b is cut off in the lower edge, and the lowest
                  text line is cut. The text in both left and right margins is also cut.
                  Fragment b has two rubricated headings in read, and to large initials in
                  read, green and blue.
               </p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>The text of the two fragments is written in South-East Norwegian
               dialect, probably sometime after 1300.
            </p>
            
            <H3>provenance</H3>
            
            <p>MS 1836 1 a-b has originally been part of the same manuscript as
               fragments 12 a-b in the Norwegian National Archive, published in
               facsimile in "Gammelnorske membranfragmenter i Riksarkivet", Oslo
               1963, s. 113-115. See the enclosed letter from the National Archive
               (enclosure 6). 13.2.1982, M. Tveitane.
            </p>
            
            <p>A pencil note, probably written by George Stephens, states that the
               two law code fragments are "taken from a book-back". The pencil note
               "Mandal 1625" may be connected with this information.
            </p>
            
            <H3>acquisition</H3>
            
            <p>According to information from the antiquarian bookshop Cappelens
               Antikvariat, Oslo, these fragments together with 1836 2 has
               belonged, since around year 1850, to the philologist and book
               collector George Stephens (1813-1895), professor of English language
               at the University of Copenhagen, thereafter they have belonged to
               his son, landowner Joseph Stephens at Huseby in Skateløv
               (Småland), and lastly to his sons daugther. From her
               inheritors the fragments were acuired by Cappelens antique bookshop.
            </p>
            
            <p>Bought from J. W. Cappelens antiquarian bookshop, Oslo, in November
               1981, for the sum of NOK 15.000,-. Of this sum is NOK 10.000,- taken
               from the fund of the chief librarian, and NOK 5.000,- is payed by
               the Institute for Scandinavian Studies.
            </p>
            
            
            <h3>accMat</h3>
            <p>
               Enclosures:
               Pencil note about the law code fragments, probably by
               George Stephens, with note by professor Ludvig Holm-Olsen on
               the reverse side.
               Copy of a letter from professor Holm-Olsen to J. W.
               Cappelens antiquarian book shop, Oslo, dated 28. sept. 1981.
               Copy of letter from Bergen University Library to the
               Norwegian National Archives, dated 4th of December 1981.
               Two old photographies of the law code fragments (1 a-b),
               probably made for George Stephens in the 19th century.
               Box containing (5.12.81): Two sets of full size
               photographies, one set of reduced repro-prints, and films. 
               Letter from the Norwegian National Archives, dated
               5.2.1982, containing information on the earlier history of
               the law code fragments.
               Copy of letter from Bergen University Library to the
               Norwegian National Archives, containing some additional
               information.
               
            </p>
            <h3>Bibliography</h3>
            <p>Gammelnorske membranfragmenter i Riksarkivet, Oslo 1963, s.
               113-115.
            </p>
            <p>(Norges Gamle Love II (1848), s. 132.16-133.13,
               133.14-134.10).
            </p>
            <p>Holm-Olsen, Ludvig. Pergamentblad på vandring. UB Bergen 1836. 1. In: Norvegica. Minneskrift
               til hundreårsdagen for opprettelsen av Universitetets norske avdeling 1883. 1. Januar
               1983. Oslo 1983, pp. 129-141.
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript Catalogue [unpublished]</p>
            
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>