<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1549, 1, e
         
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201549,%201a-d.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201549,%202.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1549, 1, e</h1>
         <h2>The St Mary Gradual fragment</h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>This fragment contains three Alleluias with verses and one offertory for a
                  celebration of St. Mary. Only one side of the fragment is readable, the other
                  one is very dark and worn. Like the fragments 1549, 1a-d, this fragment was also
                  a gift to Bergen Museum from cand. theol. H. Daae in 1829, and appears to be
                  used in the binding of the same book. However, it does not seem to come from the
                  same manuscript, or the same genre of liturgical book. While the other fragments
                  in the group comes from a breviary, this piece of parchment appears to be from a
                  gradual, a book containing the sung elements in the liturgy for the Mass.
               </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               <a href="../transcriptions/UBB MS 1549, 1e-transkr.html" class="transcription">Transcription</a><div class="item"><a href="../facsimiles/UBB%20MS%201549,%201e%201.jpg"><img class="small" alt="UBB MS 1549 1e, recto" src="../facsimiles/UBB%20MS%201549,%201e%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%201e%202.jpg"><img class="small" alt="UBB MS 1549 1e, verso." src="../facsimiles/UBB%20MS%201549,%201e%202.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1549, 1, e</p>
               <h2>altName</h2>
               <p>Gjerløw: Br 4, along with fragments 1549, 1a-d
                  even though they do not seem to come from the same manuscript.
               </p>
            </div>
            
            <h4>
               The St Mary Gradual fragment
               [Parchment, one fragment 24 x 12 cm, France(?),
               14th century(?).]
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>Three Alleluias with verses and an Offertory, none of which complete, for
                  a celebration of Virgin Mary, possibly the Assumption (15 August) or the
                  Nativity (8 September). On the dark and unreadable verso side the rubric
                  Off(ertorium) and the initial red R is visible. Towards the margin it is
                  possible to see the letters “go” and “ma”. This fits very well with the
                  Offertory Recordare virgo mater. All the liturgical elements in the
                  fragment are commonly found, and what could possibly be a clue to
                  finding out the fragment’s origin is the sequence of the Alleluia
                  verses. 
               </p>
               
               
               <p>[Alleluia.] Vers. Post partum
                  Alleluia. Vers. Ave Maria
                  Alleluia. Vers. Salve virgo
                  Offertorium: Recordare virgo mater
                  
               </p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>Lay-out: No ruling is visible apart from the staffs of the musical
                  notation. It is not possible to say much about original lay-out or size
                  because of the limited size of the fragment. The original manuscript had
                  9 lines or more to the page, and was at least in quarto format. 
               </p>
               
               <p>Script: Gothic textualis formata with no particular marking of the i’s or
                  u’s. Several letters are relatively round in character, although the
                  angularity of gothic script is definately present. Rubricated.
               </p>
               
               <p>Musical notation: Square notation on four red lines. Clef: f.</p>
               
               <p>Initials: Three red initials are visible, quite plain with the exception
                  of a small floral ending to the left. The Alleluia verse begins with a
                  smaller, black initial decorated with a red line.
               </p>
               
               <p>Condition: The fragment is in poor condition. The recto side is so worn
                  and darkened it’s illegible, with the exception of the top line. There
                  are four holes from a binding, which seems to be of a rather thick book,
                  ca 6 cm across the back. The four lines of smaller script in the lower
                  left corner on the verso side seems to have rubbed off from another
                  fragment, 1549, 1a, which was used in the same binding.
               </p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>France(?), 14th century(?). The fragment was used in the
               same binding as fragments 1549, 1a-d, which come from a breviary of
               English origin. This could point to England also for the
               current fragment. At a workshop in Bergen in October 2005 it was suggested that the
               place of origin might be France. The order of the Alleluia verses could bring us
               closer to finding the origin. 
            </p>
            
            <H3>provenance</H3>
            
            <p>Secondary provenance unknown. The fragment appears to have been used
               in the binding of the same book as 1549, 1a-d, but which book and
               where it was bound is unknown.
            </p>
            
            <H3>acquisition</H3>
            
            <p>MS 1549, 1a-e was a gift to the museum of Bergen from cand. theol. H.
               Daae in 1829. The H. Daae in question is probably Hans Daae
               (1808-65), born in Leikanger as son of the minister there. He began
               his theology studies in Christiania in 1825. In 1831 he was employed
               as a chaplain in Korskirken (the Cross Church) in Bergen, where he
               stayed until 1850. The circumstances for the gift, or where Daae
               acquired the fragments, is not known. 
            </p>
            
            
            <h3>Bibliography</h3>
            <p>Legg, Wickham J. (ed.) 1916: The Sarum missal, edited from three early manuscripts,
               Oxford.
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript
               Catalogue [unpublished]
            </p>
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>