<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1836, 2
         Mattias Tveitane
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201836,%201.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%20791a.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1836, 2</h1>
         <h2>Fragment of the Book of Sirach in Icelandic</h2>
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>In 1981 Bergen University Library bought this fragment, together with 1836, 1, a-b,
                  from the antiquarian bookshop Cappelens Antikvariat, Oslo. The  fragment contains
                  text from a an Icelandic translation of the Book of Sirach.
               </p>
            </div>
            <div id="facsimilies">
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201836,%202r.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201836,%202r.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201836,%202v.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201836,%202v.jpg" width="180"></a></div>
               
            </div>
         </div>
         <div id="meta">
            
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1836, 2</p>
            </div>
            
            <h4>Fragment of the Book of Sirach in Icelandic
               [Parchment, one leaf, 130 x 180 mm, Iceland, 2nd half of 16th century.]
               
            </h4>
            
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               
               <p>Text from Gissur Einarssons Icelandic translation of the Book of Sirach. Corresponds
                  to text edited by Chr. Westergård-Nielsen (see bibliography).
               </p>
               
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               <p>Parchment, two fragments from the same leaf, 110 x 80 mm</p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            <p>Written in Iceland probably in the 2nd half of the 16th century.</p>
            <H3>acquisition</H3>
            
            <p>According to information from the antiquarian bookshop Cappelens Antikvariat, Oslo,
               this fragment like 1836 1, a-b, has belonged since around year 1850, to the philologist
               and book collector George Stephens (1813-1895), professor of English language at the
               University of Copenhagen, thereafter it  belonged to his son, landowner Joseph Stephens
               at Huseby in Skateløv (Småland), and lastly to his sons daugther. From her inheritors
               the fragment together with 1836 1, a-b, was acuired by Cappelens antique bookshop.
               
            </p>
            
            
            <h3>Bibliography</h3>
            <p>Chr. Westergård-Nielsen in Bibliotheca Arnagmagnæanæ, vol. 15, pp. 27.6-31.10.</p>
            <p>Holm-Olsen, Ludvig. Et blad av et håndskrift av Gissur Einarssons oversettelse av
               Jesu Siraks bok (Ecclesiasticus), UB Bergen Ms 1836. 2. In: Bibliotheca Arnamagnæana.
               Vol. 39. Opuscula 9. København 1991, pp. 166-171.
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript Catalogue [unpublished]</p>
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>