<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1550, 3
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201550,%202.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201550,%204.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1550, 3</h1>
         <h2>The reversed missal fragment</h2>
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>This bizarre fragment from a book binding is the reflection of a manuscript page onto
                  a sheet of paper. The paper was apparently glued onto a parchment pastedown in a book
                  binding. When the paper was later removed, a mirrored offprint of the manuscript page
                  remained on the back. Most of the contents are the variable prayers of the mass. The
                  saints celebrated are St. Severinus, bishop of Cologne (23 Oct), St. Crispinus and
                  Crispinianus (25 Oct), St. Amandus of Strasbourg, or of Worms (26 Oct) and the apostles
                  St. Simon and Judas (28 Oct). St. Amandus was not venerated in Nidaros, and the fragment
                  is probably not Norwegian. The script may point towards the German-speaking parts
                  of Europe, somewhere from Austria to the Netherlands. This of course refers to the
                  fragment behind the fragment, since we in this case have a more recent sheet of paper
                  revealing the contents of a parchment manuscript page which we don’t have.
               </p>
            </div>
            <div id="facsimilies">
               <h3>Facsimiles and transcriptions</h3>
               <a href="../transcriptions/UBB MS 1550, 3-transkr.html" class="transcription">Transcription</a><div class="item"><a href="../facsimiles/UBB%20MS%201550,%203.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201550,%203.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201550,%203,%20flipped.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201550,%203,%20flipped.jpg" width="180"></a></div>
               
            </div>
         </div>
         <div id="meta">
            
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1550, 3</p>
            </div>
            
            <h4>The reversed missal fragment
               [Paper, one leaf, ca 38, 5 x 25 cm, unknown origin (Austria, Germany or the Netherlands?),
               15th century. 
               ]
               
            </h4>
            
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The variable prayers of the mass (the collecta, the secreta and postcommunio, here called complenda) for St. Severinus, bishop of Cologne (23 Oct), St. Crispinus and Crispinianus (25
                  Oct), St. Amandus (26 Oct) (of Strasbourg or Worms) and the apostles St. Simon and
                  Jude (28 Oct). For Simon and Jude is also entered the incipit for the introit, i.e.
                  the first antiphon of the Mass, as well as the epistle-reading.
               </p>
               
               <p>For full text, see transcription.</p>
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               <p>Paper, one leaf,ca 38,5 x 25 cm</p>
               
               <p>Lay-out: There are signs of what appears to be lead ruling, including vertical lines
                  on both sides of the columns. Full writing space is 25 x 19. There are two columns,
                  ca 25 x 8,8 cm.
               </p>
               
               <p>Script: Gothic script, a textualis formata. One noticeable trait is the use of a vertical zigzag-line for m at the end of a
                  word (cf. ueniam, line 2 or actionem, line 3). The same zigzag-line is used in the abbreviation of
                  cordibus in line 11. Scribes in German-speaking and Scandinavian countries would use this
                  sign for m and abbreviations in the fourteenth and fifteenth century (Derolez 2003,
                  p. 91). This should at least point away from France/England as the place of origin.
                  The g has a very straight back. In the chant incipit the script is smaller. Rubricated.
               </p>
               
               <p>Initials: Red and blue initials of various sizes. The first initial for each saint
                  covers two lines, the others cover one line.    
                  
               </p>
               <p>
                  Condition: The fragment is in poor condition, and is reversed (!). The paper is ripped,
                  and pieces of the text are missing. The text remaining is faded and difficult to read.
               </p>
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            <p>The origin is unknown. Referring to the fragment behind the reflection: Traits in
               the script may point to a German-speaking or Scandinavian country[Scribes in German-speaking and Scandinavian countries would use a zigzag-line for
               m and abbreviations in the fourteenth and fifteenth century (Derolez 2003, p. 91).],  but the contents point away from a Norwegian origin, at least, since St. Amandus
               was not celebrated in Norway. St. Amandus, bishop of Strasbourg (4. century) was celebrated
               in France, and St. Amandus, bishop of Worms (7. century) in Germany and Austria. His
               relics are in Salzburg. The Netherlands is also a possible place of origin, since
               the Utrecht calendar (1420-1520) contains all our four saints, including St. Amandus.
               
            </p>
            
            <H3>provenance</H3>
            
            <p>Used in the book cover of an unknown book. The fragment was kept in the Diploma collection
               of Bergen Museum (Bergen University Library), in a box marked (Diplom) “Uden Aar”
               (“Undated”), in an envelope marked “Blade af en latinsk Bønnebog, No D.” (“Leaves
               from a Latin prayer book, No. D”). It is marked “Bergen Museum” in the margin between
               the columns.
            </p>
            
            <H3>acquisition</H3>
            
            <p>Unknown.	</p>
            
            <h3>Bibliography</h3>
            <p>Derolez, Albert 2003: The Palaeography of Gothic Manuscript Books From the Twelfth
               to the Early Sixteenth Century, Cambridge.
               
            </p>
            <p>Patrologia latina online (Gregorius I: Liber sacramentorum). Used for the transcription.
               
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript Catalogue [unpublished]</p>
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>