<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1550, 6
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201550,%205.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201550,%207.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1550, 6</h1>
         <h2>Manuale, liber ritualis</h2>
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>This fragment is a double leaf from a priest’s handbook, written in England in the
                  14th century. It was probably removed from the binding of one of the University library’s
                  books in the 1960’s, but the record of which book it was, is unfortunately lost. The
                  fragment was studied in October 2005 during an international workshop on manuscript
                  fragments, and the origin determined. The preserved leaves contain parts of the Canon missae, i.e. the prayer after the singing of the prefatio in the mass (see also 1550, 2),
                  and the Lord’s prayer Pater noster with musical notation. The prayers are supplied with instructions for the priest,
                  written in red ink, like “Here the priest shall kneel before the altar”, and so on.
                  The fragment had not previously been entered into the manuscript catalogue, and received
                  its current signature in 2005.
               </p>
            </div>
            <div id="facsimilies">
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201550,%206a.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201550,%206a.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201550,%206b.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201550,%206b.jpg" width="180"></a></div>
               
            </div>
         </div>
         <div id="meta">
            
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1550, 6</p>
            </div>
            
            <h4>Manuale, liber ritualis
               [Parchment, one cropped bifolium, ca. 32, 5 x 42 cm (leaf size: ca. 32, 5 x 24,5 cm),
               England, 14th century. 
               ]
               
            </h4>
            
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The contents are parts from the Canon missae in the mass, more precisely the prayers Supra que propitio ac sereno vultu respicere digneris and Supplices te rogamus omnipotens deu iube hec perferri, followed by Pater noster with musical notation. Finally there is the prayer Libera nos quesumus domine ab omnibus malis. The prayers are supplied with instructions to the priest, written in red ink,  like
                  “Here the priest shall kneel before the altar”, or “after he has kissed the altar,
                  he rises, saying:”, and so on, revealing that the fragment comes from a priest’s manual.
                  
               </p>
               
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               <p>Parchment, one cropped bifolium, ca. 32, 5 x 42 cm (leaf size: ca. 32, 5 x 24,5 cm)</p>
               
               <p>Lay-out: Writing space: 21,5 x 17, 5 cm. One column, 11 lines (8 lines when there
                  is musical notation). There is no visible ruling, but there seem to be some “prickings”
                  in the form of light brown rectangels, marking the x-height of each line. 
               </p>
               
               <p>Script: A large Gothic textualis formata (x-height: 1,1 cm). This is an example of a textus praescissus, meaning that the minims and the ascenders end flat to the baseline (with no serif
                  going up to the right). Rubricated. The same scribe has written the main text and
                  the rubrics (information from Mr. M. Gullick, Oct. 2005). One peculiarity is the tironian
                  ”et”-sign with a hairline-stroke at the beginning. (A similar execution for the “et”-sign,
                  only uncrossed, occurs in an early 14th century English Psalter, see Derolez 2003,
                  pl. 27.) 
               </p>
               
               <p>Musical notation: 	Square notation on three red lines, with an F-clef.</p>
               
               <p>Initials:	Fleuronné: Two large initials have red pen-flourishing to a faded blue letter. There are also
                  smaller, plain initials, alternating red and blue. 
               </p>
               
               <p>
                  Condition:	The fragment is in relatively good condition, although the verso-side is
                  somewhat darkened.
                  
               </p>
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            <p>England, 14th century. (Information given by the palaeographer Michael Gullick at
               a an international workshop on manuscript fragments in October 2005.)
            </p>
            
            <H3>acquisition</H3>
            
            <p>The fragment was probably acquired in a book binding, and removed from the binding
               during the 1960’s. Unfortunately the records of which book it came from, are now lost.
               Along with MS 1550, 7 it was kept together with the other manuscript fragments, but
               without being registered in the library’s manuscript catalogue. It received the current
               catalogue number (MS 1550, 6) in 2005.
            </p>
            
            <h3>Bibliography</h3>
            <p>Derolez, A. 2003: The Palaeography of Gothic Manuscript Books From the Twelfth to
               the Early Sixteenth Century, Cambridge.
               
            </p>
            <p>Kolsrud, O. 1962: Manuale Norwegicum, Oslo. (Text of the Canon missae p 117-119)
               
            </p>
            <p>Kulturhistorisk leksikon for Nordisk middelalder XI, Gyldendal 1966, ”Manuale” p.
               343.
               
            </p>
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>