<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 791, a
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201836,%202.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%20791b-e.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 791, a</h1>
         <h2>A text of Civil law?</h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>This bifolium is one in a group of five, of which the four others are from a
                  glossed version of Justinian’s digest (see MS 791, b-e). The contents in this
                  fragment also seem to be from a law manuscript, but which one is still unknown.
               </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%20791A-side1.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%20791A-side1.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%20791A-side2.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%20791A-side2.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%20791A-side3.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%20791A-side3.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%20791A-side4.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%20791A-side4.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 791, a</p>
            </div>
            
            <h4>
               A text of Civil law?
               [Parchment, one cropped bifolium, leaf size: ca. 40,
               5 x 25,5 cm, Italy, 14th century (?).]
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The contents of 791 a seems to be connected with law, but which text is
                  unknown. This leaf came to the library along with four other leaves (MS
                  791, b-e), which are from a glossed version of Justinian’s digest. 
               </p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>Parchment, one cropped bifolium, ca. 40, 5 x 25,5
                  cm
               </p>
               
               <p>Lay-out: Writing space, 32,5 x 19, 5. Two columns 32,5 x 8, 5 cm. 78
                  lines. The ruling is not visible.
               </p>
               
               <p>Script: A smaller southern Gothic textualis currens. There are paragraphs
                  in alternately red and blue. The marginal notes are in a cursive script,
                  and there is also the drawing of a face.
               </p>
               
               <p>Initials: On the outer side of the bifolium are the remains of the red
                  flourishing from two initials, now missing.
               </p>
               
               <p> Condition: The fragment has been cut to serve as a book cover. In
                  addition it is torn, so that the half of one of the leaves is missing.
                  On the outer side of the bifolium the ink has turned a pale green,
                  except a zone in the middle of the fragment, following the spine of the
                  book it covered. Along the same zone, from one side to another, are four
                  rectangular holes from the binding, ca 5,5 x 1,5 cm. Here the fragment
                  is marked with the number 14., ca. 3,5 cm high. Some small leather
                  “flaps” are still in place, inserted in the parchment. 
               </p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>Italy, 14th century (?).</p>
            
            <H3>provenance</H3>
            
            <p>The fragment 791 a was apparently used as a bookcover. The fragments
               791 b-e were used in similar covers, and the backs of the books, now
               the outer sides of the bifolia, were marked with numbers, and in
               some instances, with titles. Fragment 791 a. was marked with the
               number 14, but no title.
            </p>
            
            <H3>acquisition</H3>
            
            <p>All the five fragments labelled MS 791 came to the University Library
               from Prof. Hannaas’s collections in 1934. 
            </p>
            
            
            <h3>Bibliography</h3>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript
               Catalogue [unpublished]
            </p>
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>