<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1549, 1, a-d
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="SAB%20MS%20B%2043,%204.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201549,%201e.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1549, 1, a-d</h1>
         <h2>The Botulph Breviary fragments</h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>The so-called Botulph Breviary fragments is a group of four fragments from the
                  same Breviary, written in England in the late thirteenth century. One of the
                  fragments contains the readings six to nine for the Matins of St Botulph's day
                  (17 June, in Scotland 25 June). Nine readings constitute the highest degree of a
                  saint's feast. St Botulph was a popular saint in Eastern England and Scotland,
                  and the Botulph breviary was therefore perhaps written in Eastern England. The
                  lessons six to nine, more or less extant in our fragment a, describe Botulph's
                  discovery of Ikanho (possibly the present Iken in Suffolk, east of Ipswich), the
                  exorcism of the area's demons, the building of the monastery (in 654), and,
                  finally, to the great lament of his fellow brothers, Botulph's death (in 680).
                  Apart from the readings of St Botulph's day, the fragments contain parts of the
                  liturgy of the feast days of the Annunciation (25 March) and of the Saints
                  Philip and Jacob (1 May).
               </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               <a href="../transcriptions/UBB MS 1549, 1a-transkr.html" class="transcription">Transcription</a><div class="item"><a href="../facsimiles/UBB%20MS%201549,%201a%201.jpg"><img class="small" alt="UBB MS 1549 1a, recto" src="../facsimiles/UBB%20MS%201549,%201a%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%201a%202.jpg"><img class="small" alt="UBB MS 1549 1a, verso." src="../facsimiles/UBB%20MS%201549,%201a%202.jpg" width="180"></a></div>
               <a href="../transcriptions/UBB MS 1549, 1b-transkr.html" class="transcription">Transcription</a><div class="item"><a href="../facsimiles/UBB%20MS%201549,%201b%201.jpg"><img class="small" alt="UBB MS 1549 1b, recto" src="../facsimiles/UBB%20MS%201549,%201b%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%201b%202.jpg"><img class="small" alt="UBB MS 1549 1b, verso." src="../facsimiles/UBB%20MS%201549,%201b%202.jpg" width="180"></a></div>
               <a href="../transcriptions/UBB MS 1549, 1c-transkr.html" class="transcription">Transcription</a><div class="item"><a href="../facsimiles/UBB%20MS%201549,%201c%202.jpg"><img class="small" alt="UBB MS 1549 1c, recto" src="../facsimiles/UBB%20MS%201549,%201c%202.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%201c%201.jpg"><img class="small" alt="UBB MS 1549 1c, verso." src="../facsimiles/UBB%20MS%201549,%201c%201.jpg" width="180"></a></div>
               <a href="../transcriptions/UBB MS 1549, 1d-transkr.html" class="transcription">Transcription</a><div class="item"><a href="../facsimiles/UBB%20MS%201549,%201d%201.jpg"><img class="small" alt="UBB MS 1549 1d, recto" src="../facsimiles/UBB%20MS%201549,%201d%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%201d%202.jpg"><img class="small" alt="UBB MS 1549 1d, verso." src="../facsimiles/UBB%20MS%201549,%201d%202.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1549, 1, a-d</p>
               <h2>altName</h2>
               <p>MS 410, 1</p>
               <h2>altName</h2>
               <p>Br 4 (Gjerløw)</p>
            </div>
            
            <h4>
               The Botulph Breviary fragments
               [Parchment, four fragments: a: ca 17x18 cm, b: ca
               25x14 cm, c and d: ca 12x3 cm, (original size: ca 25x18 cm), England,
               late 13th century.]
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>a: St Botulph's day, 17 June: The fragment contains parts of paragraphs
                  five to nine of the nocturnal readings of Matins on St Botulph's day, 17
                  June. The readings correspond with St Botulph's Vita in Acta sanctorum,
                  Junius IV, p. 402, which was issued by Folcard, abbot of Thorney, in
                  1070. The divisions, however, do not correspond entirely with the Vita,
                  because of steps taken to fit eleven chapters into nine readings. Our
                  text begins with the last few lines of lesson five, with the king
                  granting Botulph land for his monastery. Lesson six is the only complete
                  lesson, not missing any parts due to the sorry state of the fragment. In
                  the sixth lesson Botulph finds Ikanho (here spelled "kanho"), and
                  decides to settle there, even though the deserted place is full of
                  demons. In the seventh lesson, which for some reason is missing its
                  rubric, Botulph exorcises the demons in spite of their pleas. Lesson
                  eight begins with the flight of the demons, and goes on with the
                  building of the monastery of Ikanho, "equal to those of France", and
                  Botulph's gathering and teaching of the brothers. The ninth lesson
                  describes Botulph's virtues, his last years among his followers, and,
                  finally, his death, when God calls him from the prison of the flesh to
                  his coronation in heaven, to the tears and lament of his fellow
                  brothers. The shorter vita of the Schleswig breviary is entirely
                  different from the one presented here. The Schleswig text clearly states
                  that Botulph was Scottish, and from this we can probably interpret the
                  sentence in lesson nine, that he was loved by everyone, "also the
                  neighbouring inhabitants of his fatherland."
               </p>
               
               <p> b: the Annunciation, 25 March: On fragment b we have the end of the
                  first Vesper and the beginning of the Matins for the Annunciation, 25
                  March. The fragment begins with the second verse of the hymn Ave maris
                  stella (CAO 8272). Next follows instruction for the verse Rorate celi,
                  followed by the antiphon for the Magnificat, the Ingressus angelus (CAO
                  3339), complete with musical notation. The prayer Deus, qui de beate
                  marie virginis utero, ends the vesper. Then comes the invitatory of the
                  Matins (curiously enough spelled "Inuitiatorum"), Ave maria gratia plena
                  (CAO 1539), with instructions for the psalm Venite. The hymn Quem terra
                  pontus is indicated, and then comes the rubric for the first Nocturn.
                  The antiphons and psalms follow in this order: Ant. Prophete
                  predicaverunt (CAO 4392). Ps. Domine dominus. Ant. Rorate celi (CAO
                  4668). Ps. Celi enarrant. Ant. Egredietur virga (CAO 2613). Ps. Domini.
                  V. Exyon (sic). Then comes the first lesson, followed by the responsory
                  Ingressus angelus (CAO 6963). The second lesson is followed by the
                  responsory [Suscipe] verbum (CAO 7744). The fragment ends with the third
                  lesson.
               </p>
               
               <p> c. and d. St. Philip and St. Jacob, 1. May: The fragment c and d are
                  taken from the same page, with c as the upper part and d as the lower.
                  Fragment c beginning with "non bibit" contains a reading on St Jacob,
                  referring to his chaste way of life: He never drank wine, ate animal
                  flesh, cut his hair or bathed. Fragment d then goes on with an
                  unidentified reading. The verso-side of c continues with a reading on St
                  Philip, describing how he preached to the Scythians for twenty years and
                  was later buried there, and how his virgin daughters were buried with
                  him. This was the final reading, since it is followed by Te Deum, which
                  finishes Matins. The verso-side of fragment d continues with an antiphon
                  for Lauds of the same Saint's feast, followed by the psalm Dominus
                  regnavit and the antiphon Ego sum via (CAO 2603)
               </p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>Parchment, four fragments, 2a: ca 17x18 cm, b: ca 25x14 cm, c
                  and d: ca 12x3 cm, (original size: ca 25x18 cm)
               </p>
               
               <p>Lay-out: Ruled with a lead point. The top line frames the writing space,
                  which has been ca 21 x 14,5 cm. Two columns, 6,5 cm wide. Originally 36
                  lines to each column.
               </p>
               
               <p>Script: Gothic textualis, written with a pen with a thick nib. Short
                  ascenders and descenders. This seems to be a product of a transitional
                  phase, since two types of a occur; most a's are closed, but some are
                  still open and with a rounder shape. The insular abbreviation-sign for
                  est ÷ occurs (b verso, third line). Rubricated.
               </p>
               
               <p>Musical notation: Square notation on four red lines. Clefs: c, f and b.</p>
               
               <p>Initials: Fleuronné in blue, red and possibly green. The initials appear
                  in a hierarchy, from the minor, plain alternating red and blue initials
                  over one line in the verses of the hymn Ave maris stella to the large
                  and flourished initial P (over six lines) of Prophete predicaverunt, the
                  first antiphon of the first nocturne. The first letters of the prayers
                  and readings are flourished or plain alternating red and blue initials
                  over two lines.
               </p>
               
               <p>Condition: Fragment a is not in a very good condition. Particularly the
                  verso side is quite worn and darkened, and parts of the text is
                  difficult to read. Fragment b is the largest and best preserved fragment
                  in this group, although it has a 2,5 cm fold on the left margin of the
                  verso side, hiding the left part of the text in the column. For the top
                  6 cm it is possible to peek underneath the fold, but later the fold
                  sticks to the parchment underneath. The fragments a, b and c have holes
                  in them from the binding.
               </p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>England, possibly Eastern England, in the late 13th century. The nine
               lesson celebration of St. Botulph's day, the characteristic feature
               of this Breviary, is taken from the English Vita. In Scandinavia the
               Schleswig Breviary (1512) and Uppsala (1496) also have nine
               readings, but these are taken from another Vita, possibly of
               Scandinavian origin. Nidaros (1519) has six readings, while the
               English sees York and Hereford only have three, and the use of Sarum
               does not celebrate Botulph at all. The breviary may have originated
               in Eastern England, because of the strong Botulph's cult in that
               area.
            </p>
            
            <H3>provenance</H3>
            
            <p>Secondary provenance unknown.</p>
            
            <H3>acquisition</H3>
            
            <p>MS 1549,1a-e was a gift to the museum of Bergen from cand. theol. H.
               Daae in 1829. The H. Daae in question is probably Hans Daae
               (1808-65), born in Leikanger as son of the minister there. He began
               his theology studies in Christiania in 1825. In 1831 he was employed
               as a chaplain in Korskirken (the Cross Church) in Bergen, where he
               stayed until 1850. The circumstances for the gift, or where Daae
               acquired the fragments, is not known.
            </p>
            
            
            <h3>Bibliography</h3>
            <p>Acta sanctorum, Junius III, Paris &amp; Rome 1867, p. 402-403
               (for St Botulph).
            </p>
            <p>Acta sanctorum, Maii I, 1-5, Paris &amp; Rome 1867, p. 12A and
               p. 21F (for Sts Philip &amp; Jacob).
            </p>
            <p>Gjerløw, Lilli (ed.) 1968: Ordo Nidrosiensis ecclesiae, Oslo, n.
               p. 351.
            </p>
            <p>Toy, John 2003: "St. Botulph: An English saint in Scandinavia",
               The Cross goes North, York, pp. 565-570.
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript
               Catalogue [unpublished]
            </p>
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>