<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1549, 5
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201549,%204.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201549,%206.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1549, 5</h1>
         <h2>The Bryggen Missal fragment</h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>This fragment was used as a cover on a protocol from Bryggen (Dat Gartenrecht in
                  den Jacobsfjorden unndt Bellgarden, MS 213), but removed and catalogued
                  separately in 1911. From Bryggen we would perhaps expect a fragment of German
                  origin, but this fragment comes from a missal written in England in the early 12th
                  century. Lilli Gjerløw assumes that the
                  fragment (and the missal it once belonged to) was somewhere in
                  Bjørgvin see in the middle ages, and was used here from an early date
                  (Gjerløw 1970). The contents of the bifolium is from the liturgy for
                  Lent.
               </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               <a href="../transcriptions/UBB MS 1549, 5-transkr.html" class="transcription">Transcription</a><div class="item"><a href="../facsimiles/UBB%20MS%201549,%205a.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%205a.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%205b.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%205b.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%205c.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%205c.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%205d.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%205d.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1549, 5</p>
               <h2>altName</h2>
               <p>MS 410, 5</p>
            </div>
            
            <h4>
               The Bryggen Missal fragment
               [Parchment, a bifolium, fol. size ca 32 x 19,5 cm,
               England, early 12th century.]
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The contents has been studied by Lilli Gjerløw (Missaler 1970,
                  pp. 83-85). The bifolium contains the liturgy for Wednesday (feria
                  quarta) after first Sunday of Lent and, after a lacuna, the liturgy for
                  Saturday of that same week, and for the second Sunday of Lent. At the
                  end of Saturday mass, the fragment also gives the prayers super populum
                  and ad vesperas. The super populum prayer only seems to occur in French
                  and English sources, and the prayer for Vesper is also rare, occurring
                  in an early French and two early English Missals (Gjerløw 1970
                  p. 84).
               </p>
               
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>Parchment, a bifolium fol. size ca 32 x 19,5 cm</p>
               
               <p>Lay-out: A bifolium, probably the leaves 2/7 in a quire. The writing
                  space is 25 x 14,5 cm, with 31 lines. Pricking for ruling is visible in
                  the margin. Dry point ruling.
               </p>
               
               <p>Protogothic script. Two hands are represented; the first one on f.(1)r
                  and first part of f.(1)v , the second one on the last part of f.(1)v and
                  f. (2). According to Lilli Gjerløw the first hand is a
                  conservative one, while the second hand uses the "new", more angular
                  hand from the time after 1100 (Gjerløw 1970 p. 83). At the international fragment
                  workshop in October 2005 it was suggested by Michael Gullick that the second hand
                  might be that of a Norman scribe influenced by the first scribe, who is certainly
                  English.
                  Rubricated. No musical notation, but the sung texts are written in smaller
                  letters. At the before-mentioned workshop Susan Rankin (Cambridge) pointed out that
                  the text in this missal has been horisontally spaced for musical notation, and that
                  therefore the exemplar used by the scribe had notation. The reason why music was never
                  added in this case is probably because of the date: between the mid 11th century and
                  the mid 12th century, English music scribes changed from notating music in campo aperto
                  to notating music on lines (staves). The exemplar used by this scribe was older and
                  had neumatic notation. Anyone wanting to add musical notation on staves would not
                  have been able to do so, because it calls for a different ruling system (since more
                  than the equivalent of one text line is needed).
               </p>
               
               <p>Initials: The initials are plain, alternating blue and red.</p>
               
               <p>Condition: The fragment, being an uncropped bifolium, is generally in
                  good condition, although the front and back are quite stained and
                  worn.
               </p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>England, late 11th or early 12th century. (Dated by prof. Ludwig Bieler,
               Dublin, to 11th century in note from 6/7 1964.) A date very early in the 12th century rather than late 11th
               has been suggested by Michael Gullick.
            </p>
            
            <H3>provenance</H3>
            
            <p>Lilli Gjerløw assumes that the Missal has been used in
               Bjørgvin see from before the time of the Nidaros ordinal
               (ca 1200) (Gjerløw 1970). The fragment has later been
               used as a cover for a protocol from Bryggen: Dat Gartenrecht in den
               Jacobsfjorden unndt Bellgarden (MS 213 in Bergen University
               Library).
            </p>
            
            <H3>acquisition</H3>
            
            <p>See MS 213. The fragment was in 1911 removed from MS 213 by Aagot
               Daae and catalogued separately. In 1967 it was moved again by
               Mattias Tveitane to a larger collection of Latin fragments.
            </p>
            
            
            <h3>Bibliography</h3>
            <p>Gjerløw, Lilli 1970: "Missaler brukt i
               Bjørgvin bispedømme fra misjonstiden til
               Nidarosordinariet, Bjørgvin bispestol. Byen og
               bispedømmet, Bergen, pp. 73-115.
            </p>
            <p>Krohn, W. D. og Bendixen, B. E 1894/95: "Dat Gartenrecht in den
               Jacobsfjorden unndt Bellgarden", Bergens Museums Aarbog 1894/95 nr.
               7, samt Bergens historiske forening, Skrift nr. 1.
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript
               Catalogue [unpublished]
            </p>
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>