<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1550, 2
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201550,%201.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201550,%203.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1550, 2</h1>
         <h2>The Canon missae fragment</h2>
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>What we have called “the Canon missae fragment” does not come from a manuscript, but
                  from an early printed book, a so called incunable. The large initial T on the recto
                  side was probably painted manually, and the book is printed on parchment, not paper.
                  The contents are the initial parts of the Canon missae, i.e. the prayer after the prefatio in the mass, before Pater noster. While the priest read the Canon prayer (quietly), the bread and wine of the communion
                  was believed to be transformed into the flesh and blood of Christ. The importance
                  of this particular prayer was emphasized in the manuscripts with a large and decorated
                  initial T in the first part of the prayer, “Te igitur”. This letter grew in size during
                  the centuries, and the shape invited to a decoration in form of a crucifixion scene.
                  Eventually it became customary to use a whole page on the crucifixion, and have a
                  simpler, but still large, decorated initial T. In a missal as late as ours, the “Te
                  igitur” was probably originally facing such a crucifixion scene, now lost.
               </p>
            </div>
            <div id="facsimilies">
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201550,%202a.jpg"><img class="small" alt="UBB MS 1550, 2, recto" src="../facsimiles/UBB%20MS%201550,%202a.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201550,%202b.jpg"><img class="small" alt="UBB MS 1550, 2, verso." src="../facsimiles/UBB%20MS%201550,%202b.jpg" width="180"></a></div>
               
            </div>
         </div>
         <div id="meta">
            
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1550, 2</p>
            </div>
            
            <h4>The Canon missae fragment
               [Parchment, one leaf from an incunable, 38 x 23 cm, Unknown origin, second half of
               the 15th century. ]
               
            </h4>
            
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The contents are the first part of the Canon missae, the prayer read by the priest between the prefatio and the Pater noster in the preparation for the communion in mass. The prayer is subdivided into twelve
                  parts, and we have the first three: 1) Te igitur, “accept our gifts, merciful father”,
                  2) Memento domine, “remember your servants”. In this book the Memento prayer does
                  not stand out in the lay-out, but is linked to the end of the Te igitur. 3) Communicantes,
                  “joining, and honouring the memory of...”. The names to be remembered are the virgin
                  Mary, Christ, twelve apostles and twelve martyrs; Peter, Paul, Andreas, Iacob, Iohannes,
                  Thomas, Iacob, Philip, Bartholomeus, Mattheus, Simon and Thatheus (often spelled Thadeus),
                  then the five popes Linus, Cletus, Clemens, Sixtus, Ciprianus, and seven other martyrs,
                  Laurentius, Crisogonus, Iohannes and Paulus, Cosmis and Damianus.
               </p>
               
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               <p>The size of the fragment is 38 x 23 cm, while the full writing space is 28 x 17,5 cm. One column, 19 lines.</p>
               
               <p>Lay-out: </p>
               
               <p>Script: Since this is a printed book and not a manuscript, we should rather be talking
                  about print than script. The letters are rounder than the formal gothic textualis of most of the printed German books, and we should maybe look outside of Germany
                  for the origin. Rubricated. No musical notation. The N where actual names are to be
                  read, have the shape of an H, a trait common in English manuscripts.
               </p>
               
               <p>Initials: There is one large blue T over 6 lines (8,5 cm) on the recto side, written
                  into a green rectangular frame. The background is light pink with a dynamic acanthus
                  leaf pattern, which is also mirrored in the letter itself. There are traces of gold
                  around the red areas above and below the letter.  On both sides lines from the T are
                  exceeding the boundaries of the green frame. On the verso side there is a red, plain
                  C over two lines, which is the initial of the third part of the Canon prayer, Communicantes.
                  
               </p>
               
               <p>Condition: The fragment is in relatively good condition. It is a little bit ripped
                  in the upper right corner (vertically) and there is a 7 cm horisontal rip over the
                  tenth line from the left side, following edges where the fragment has been folded
                  when used as a book cover. There are traces from the back of the book (ca 3 cm thick)
                  going horizontally across the fragment, and “Im Herbst” is written on what would have
                  been the top of the back cover, now the left margin of the fragment. There is a 1
                  cm fold around the edges, with what seems to be the remains of pastedowns. The recto
                  side is a bit stained and worn, and the verso side is quite yellow, possibly from
                  glue, but otherwise in good condition. 
               </p>
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            <p>Origin unknown, second half of the 15th century.</p>
            
            <H3>provenance</H3>
            
            <p>Used as a book cover. In the inner margin is written vertically “Im herbst”, pointing
               towards Germany, or possibly the German community in Bergen? The folio was part of
               the book collection of Christian Henrichsen (1825-1898), who was the principal of
               Bergen Cathedral school 1875-1897. (On the connection between Henrichsen and Bergen
               Museum, see Bergen museums Aarsberetning 1898, p. 36-37). From October 1899 the fragment
               was kept in the diploma collection of Bergen Museum (Bergen University Library), in
               a box marked (Diplom) “Uden Aar” (“Undated”), in an envelope marked “Blade af en latinsk
               Bønnebog, No B.” (“Leaves from a Latin prayer book, No. B”).
            </p>
            
            <H3>acquisition</H3>
            
            <p>According to a pencil note on the lower margin of the recto page the folio was acquired
               from the principal Henrichsen’s book collection October 1899 (Okt 1899 Fra rektor
               Henrichsen bogsamlg)
            </p>
            
            
            <h3>Bibliography</h3>
            <p>Kulturhistorisk Leksikon for Nordisk Middelalder (VIII: Kanon p. 209, Kanonbild p.
               212), Oslo 1963.
            </p>
            <p>Bergen Museums Aarsberetning 1898, p. 36-37.</p>
            <p>Online examples of other mss. with the Canon missae/Te igitur:
               <a href="http://vitrine.library.uu.nl/wwwroot/images/hs402_179v180r.jpg">http://vitrine.library.uu.nl/wwwroot/images/hs402_179v180r.jpg</a> 
               <a href="http://www.nb.no/baser/schoyen/5/5.2/ms195.jpg">www.nb.no/baser/schoyen/5/5.2/ms195.jpg</a>
               <a href="http://www.ceec.uni-koeln.de">www.ceec.uni-koeln.de</a> Look up Codex 151, f. 11r
               
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript Catalogue [unpublished]</p>
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>