<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen, MS 1550, 8
         Rune Kyrkjebø
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <h1>Description of UB Bergen, MS 1550, 8</h1>
         <h2>Maria stabat ad monumentum</h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>The fragment is one manuscript leaf. </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/SAB%20MS%20B%2043,%2001R.jpg"><img class="small" alt="" src="../facsimiles/SAB%20MS%20B%2043,%2001R.jpg" width="180"></a><a href="../facsimiles/SAB%20MS%20B%2043,%2001V.jpg"><img class="small" alt="" src="../facsimiles/SAB%20MS%20B%2043,%2001V.jpg" width="180"></a><a href="../facsimiles/SAB%20MS%20B%2043,%2002R.jpg"><img class="small" alt="" src="../facsimiles/SAB%20MS%20B%2043,%2002R.jpg" width="180"></a><a href="../facsimiles/SAB%20MS%20B%2043,%2002V.jpg"><img class="small" alt="" src="../facsimiles/SAB%20MS%20B%2043,%2002V.jpg" width="180"></a><a href="../facsimiles/SAB%20MS%20B%2043,%2003R.jpg"><img class="small" alt="" src="../facsimiles/SAB%20MS%20B%2043,%2003R.jpg" width="180"></a><a href="../facsimiles/SAB%20MS%20B%2043,%2003V.jpg"><img class="small" alt="" src="../facsimiles/SAB%20MS%20B%2043,%2003V.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen</p>
               <h2>repository</h2>
               <p>University Library</p>
               <h2>idno</h2>
               <p>MS 1550, 8</p>
            </div>
            
            <h4>
               Maria stabat ad monumentum
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The contents are from the liturgy for "feria V post pashcam".  </p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>
                  [To be supplied]
                  
               </p>
               
               <p>Lay-out: [To be supplied]</p>
               
               <p>Script: [To be supplied]</p>
               
               <p>Initials: [To be supplied]</p>
               
               <p> Condition: [To be supplied]</p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>South Germany or Austria, first half of 12th century.</p>
            
            <H3>provenance</H3>
            
            <p>[Collection of Heinrich Hinterberger (1892-1970), Wienna.]</p>
            
            <H3>acquisition</H3>
            
            <p>[Bought by a private person and donated to the library.]</p>
            
            
            <h3>Bibliography</h3>
            <p>[To be supplied]</p>
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>