<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1550, 4
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201550,%203.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201550,%205.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1550, 4</h1>
         <h2>The Calendar fragment</h2>
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>A medieval calendar displayed the months one by one in the first part of liturgical
                  books. It supplied information on which saints to venerate when, and the degree of
                  the feast. Most of the church and saint’s feasts are celebrated all over medieval
                  Christianity, but often the calendars also contain rare and local feasts which can
                  be used to determine where a manuscript or fragment is from. This is such a case.
                  We have the top half of a leaf from a late 12th century calendar, representing May
                  and June. For 7 May there is an unusual entry: S. Erch, i.e. the English local saint
                  St. Erchenwald, who was bishop in London from 675. He died in 693, on 30 April, which
                  then became his feast day, making 7 May the octave for his celebration (as pointed
                  out by Lilli Gjerløw in a letter of 1 February 1967). Gjerløw also states that while
                  St. Erchenwald’s day is noted in many English calendars, the celebration of his octave
                  is only found in Chertsey abbey, Surrey, according to Wormald’s benedictine calendar
                  (Wormald V. I, p. 81-93). However, it is possible that Erchenwald’s octave was also
                  celebrated outside the London area. As far as we know St. Erchenwald was never celebrated
                  in Norway, and a manuscript containing this calendar has at some point been brought
                  to these shores from England. The script is of high quality, and so are the multicoloured
                  illuminations and the medalion with the Gemini (May 21-June 20). This was once a magnificent
                  manuscript.
               </p>
            </div>
            <div id="facsimilies">
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201550,%204a.jpg"><img class="small" alt="UBB MS 1550, 4, recto" src="../facsimiles/UBB%20MS%201550,%204a.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201550,%204b.jpg"><img class="small" alt="UBB MS 1550, 4, verso." src="../facsimiles/UBB%20MS%201550,%204b.jpg" width="180"></a></div>
               
            </div>
         </div>
         <div id="meta">
            
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1550, 4</p>
               <h2>altName</h2>
               <p>Gjerløw: Kal 12</p>
            </div>
            
            <h4>The Calendar fragment
               [Parchment, a fragment in two pieces, ca. 17 x 22 cm, England (London area?), late
               12th century. ]
               
            </h4>
            
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The contents are two pages from a calendar, showing 1-17 May (recto) and 1-17 June
                  (verso). 
                  In the column to the left are the 19 so called golden numbers (numeri aurei), reflecting the lunar cycle of 19 years. While the solar year is 365 days, the lunar
                  year (with twelve lunar cycles) is 354 days, causing an 11 day “delay” for the new
                  moon from one year to the next. Keeping track of the position of the moon was important
                  for the calculation of Easter Sunday, which is a movable feast, placed on the first
                  Sunday after the first full moon after the Vernal Equinox (21 March). The golden numbers
                  marked the new moon as it positioned itself in the course of the 19 years of the cycle.
                  (To calculate which was the golden number for a specific year you would take the year+1
                  divided with 19, making the rest the golden number: For instance 1206+1:19=63 with
                  a rest of 10, making 10 the golden number for 1206.) In the left column you would
                  find the golden number marking every new moon for this year with a 30 day interval,
                  since the lunar cycle is 30 days (or 29,5, actually, making it necessary to make some
                  intervals 29 days). If we continue with our example of 1206, we would be looking for
                  the number 10. The golden number 10 falls on 12 May (see the calendar), placing the
                  new moon on this date, and the next one 29 days after, on 10 June. The golden number
                  for the year after, 1207, would be 11. Because of the yearly 11 day delay of the lunar
                  cycle, the new moon in May for the years with the golden number 11 falls 11 days before
                  12 May, namely on 1 May (see the calendar). 
               </p>
               
               
               <p>The second column shows the Domincal Letters ((litterae dominicales), going week for week from A-G. The third column shows the dates according to the
                  Julian calender, with the Kalendae (1.), Nonae (5., or 7. in March, May, July and
                  October) and Idus (13., or 15. in the four months just mentioned). Finally, the column
                  with the saints and their feast days, with the degree of the feast indicated to the
                  right, with “three lessons” ((tres lectiones) for the lower degree, referring to the number of nocturnal readings in the Matins
                  (three, six or nine), or (Evangelium for the higher (probably marking the celebration of a proper mass on the feast).
                  In addition to this there was also information about the zodiac throughout the year,
                  in our calendar fragment the Gemini and the Cancer. 
               </p>
               
               
               <p>The saints and feasts in the calendar fragment are celebrated all over the Christian
                  world, with the exception of the entry on 7 May, the octave of S. Erchenwald, who
                  was bishop in London 675-693. His feast day was 30 April, making 7 May the octave
                  for his celebration. For this saint the Octave would probably only be celebrated in
                  the London area.  
               </p>
               
               <p>   
                  <table>
                     
                     <tr>
                        <td>Tertius</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>occidit et septimus ora relidit.</td>
                     </tr>
                     
                     <tr>
                        <td>11</td>
                        <td>B</td>
                        <td></td>
                        <td>KL</td>
                        <td>MAII Apostolorum philippi et iacobi Eug.</td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>C</td>
                        <td>6</td>
                        <td>N</td>
                        <td>                                            Comm.</td>
                     </tr>
                     
                     <tr>
                        <td>19</td>
                        <td>D</td>
                        <td>5</td>
                        <td>N</td>
                        <td>Inventio s. crucis et s. Alexandri Eug. D.</td>
                     </tr>
                     
                     <tr>
                        <td>8</td>
                        <td>E</td>
                        <td>4</td>
                        <td>N</td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>F</td>
                        <td>3</td>
                        <td>N</td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td>16</td>
                        <td>G</td>
                        <td>2</td>
                        <td>N</td>
                        <td>Sci Iohannis ante portam latinam Eug.</td>
                     </tr>
                     
                     <tr>
                        <td>5</td>
                        <td>A</td>
                        <td>NON</td>
                        <td></td>
                        <td>Oct. s. Erch s. Iohannis ep. de beuer. Eug.</td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>B</td>
                        <td>8</td>
                        <td>ID</td>
                        <td>                                            Comm.</td>
                     </tr>
                     
                     <tr>
                        <td>13</td>
                        <td>C</td>
                        <td>7</td>
                        <td>ID</td>
                        <td>Translatio s. Andree apostoli et s. Nicolai Eug.</td>
                     </tr>
                     
                     <tr>
                        <td>2</td>
                        <td>D</td>
                        <td>6</td>
                        <td>ID</td>
                        <td>Sanctorum Gordiani et epimachi martyrum. iii lc.</td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>E</td>
                        <td>5</td>
                        <td>ID</td>
                        <td>Sanctorum Nerei achillei atque pancratii (deleted with a red line)</td>
                     </tr>
                     
                     <tr>
                        <td>10</td>
                        <td>F</td>
                        <td>4</td>
                        <td>ID</td>
                        <td>Sanctorum Nerei et achillei atque pancratii Eug.</td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>G</td>
                        <td>3</td>
                        <td>ID</td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td>18</td>
                        <td>A</td>
                        <td>2</td>
                        <td></td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td>7</td>
                        <td>B</td>
                        <td>IDUS</td>
                        <td></td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>C</td>
                        <td></td>
                        <td>KL</td>
                        <td>IUNII</td>
                     </tr>
                     
                     <tr>
                        <td>15</td>
                        <td>D</td>
                        <td></td>
                        <td></td>
                        <td>                                                       Sol in gemini:</td>
                     </tr>
                     
                     <tr>
                        <td></td>
                     </tr>
                  </table>
                  
                  <table>
                     <tr>
                        <td>Denus</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>pallescit, quindenus fine tabescit.</td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>E</td>
                        <td></td>
                        <td>KL</td>
                        <td>IUNII Sci Nichomedis martyris iii lc</td>
                     </tr>
                     
                     <tr>
                        <td>19</td>
                        <td>F</td>
                        <td>4</td>
                        <td>N</td>
                        <td>Sanctorum Marcellini et petri martyrum iii lc</td>
                     </tr>
                     
                     <tr>
                        <td>8</td>
                        <td>G</td>
                        <td>3</td>
                        <td>N</td>
                        <td>Sancti herasmi episcopi et martyris iii lc</td>
                     </tr>
                     
                     <tr>
                        <td>16</td>
                        <td>A</td>
                        <td>2</td>
                        <td>N</td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td>5</td>
                        <td>B</td>
                        <td>NON</td>
                        <td></td>
                        <td>Sancti Bonifacii martyris cum sociis suis iii lc</td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>C</td>
                        <td>8</td>
                        <td>ID</td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td>13</td>
                        <td>D</td>
                        <td>7</td>
                        <td>ID</td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td>2</td>
                        <td>E</td>
                        <td>6</td>
                        <td>ID</td>
                        <td>Sanctorum Medardi et Gildardi conf. Eug.</td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>F</td>
                        <td>5</td>
                        <td>ID</td>
                        <td>Sanctorum Primi et feliciani iii lc</td>
                     </tr>
                     
                     <tr>
                        <td>10</td>
                        <td>G</td>
                        <td>4</td>
                        <td>ID</td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>A</td>
                        <td>3</td>
                        <td>ID</td>
                        <td>Sancti Barnabe apostoli  Eug.</td>
                     </tr>
                     
                     <tr>
                        <td>18</td>
                        <td>B</td>
                        <td>2</td>
                        <td>ID</td>
                        <td>Sanctorum Basilidis cirini et naboris iii lc</td>
                     </tr>
                     
                     <tr>
                        <td>7</td>
                        <td>C</td>
                        <td>IDUS</td>
                        <td></td>
                        <td></td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>D</td>
                        <td>18</td>
                        <td>KL</td>
                        <td>IULII Sci Basilii episcopi et conf. iii lc.</td>
                     </tr>
                     
                     <tr>
                        <td>15</td>
                        <td>E</td>
                        <td>17</td>
                        <td>KL</td>
                        <td>Sanctorum Uiti et modesti martyrum iii lc.</td>
                     </tr>
                     
                     <tr>
                        <td>4</td>
                        <td>F</td>
                        <td>16</td>
                        <td>KL</td>
                        <td>Sanctorum syrici et Julite matris eius iii lc. D;</td>
                     </tr>
                     
                     <tr>
                        <td></td>
                        <td>G</td>
                        <td>15</td>
                        <td>KL</td>
                        <td>Sci Botulfi abbatis.  Sol in cancro.  Eug.</td>
                     </tr>
                     
                  </table>
                  
               </p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               <p>Parchment, a fragment in two pieces, ca. 17 x 22 cm</p>
               
               <p>Lay-out: Fine lead ruling, with the pricking still visible. 18 lines remaining. The
                  page of the calendar is confined within the space of a double lined frame, and the
                  dates are put within a framework of double lines. The frame for the initial letters
                  of the saint’s names is filled with brown colour with a fine pattern, while the letters
                  are alternately red and white. For the Kalendae days of July (=last days of June)
                  the filling switches to a blue colour. The width of the leaf is ca 22 cm, while the
                  width of the calendar frame is 15 cm. A framed medalion in the lower right corner
                  of the recto side shows two figures; the Gemini (22 May-21 June). Their faces are
                  wonderfully detailed, and they have brown hair, green and white clothes, red socks
                  and brown shoes, standing in a circle with a red background and a blue frame, embedded
                  in a square with brown background and a green frame. On the verso side is the upper
                  corner of the medalion for the Cancer, with a white circle in a blue square with a
                  green frame.  
               </p>
               
               <p>Script: Late protogothic script. The scribe lets the minims finish flat to the line,
                  instead of pulling the pen upwards to the right side. This finish of the minims is
                  called a textus praescissus. Otherwise the script seems to be in a transitional phase,
                  moving towards the gothic textualis. The tironian note is crossed, the round d is
                  used, both in juncture and separately, along with the straight d. Only double i’s
                  are marked with a stroke. Because the text consists mainly of holy names, there is
                  a wide use of small capitals, or uncial letterforms, for r, m, d, and a. The decoratice
                  lines in the cross stroke of the capital N is a relatively late feature. The script
                  is very much like the kind found in fragments 1-3 in Statsarkivet in Stavanger (=Gjerløw:
                  Mi 35), from a missal of a bigger format. 
               </p>
               
               <p>Initials: The Kalendas of May and June are decorated. May is relatively simple, with
                  KL in blue on a red background, framed by a green stripe. There are traces of gold
                  and an organic pattern between the letters, and white stars on the sides. The KL for
                  June is in gold on a red and blue background. The space between the letters is red,
                  and decorated with stems and leaves in blue and pink with white decorative lines.
                  The blue to the left and right of the letters is decorated with small white stars.
                  
               </p>
               
               <p>Condition: The fragment is split in two, and there are clear traces of the back of
                  a book where the two fragments meet. The book was an octave, ca 3,5 cm thick. Across
                  the (former) back of the book are four lines of holes from the seem. The recto side
                  is stained and worn, evidently facing out, while the verso side is in better condition.
                  On the left of the leaf there is a 12 cm vertical cut, ca 4 cm from the edge.
               </p>
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            <p>England (London-area?), late 12th century. </p>
            
            <H3>provenance</H3>
            
            <p>The fragment was probably used in the binding of a book. The fragment was kept in
               the diploma collection of Bergen Museum (Bergen University Library), in a box marked
               (Diplom) “Uden Aar” (“Undated”). No other information is known.  
            </p>
            
            <H3>acquisition</H3>
            
            <p>Unknown.</p>
            
            
            <h3>Bibliography</h3>
            <p>Dybdahl, Audun 1999: Helgener i tiden, Senter for middelalderstudier, Skrifter nr.
               10, Trondheim, p. 113-118. (Includes a passage about the medieval calendar system.)
            </p>
            <p>Kulturhistorisk Leksikon for Nordisk Middelalder (II: Computus ecclesiasticus, p.
               585-591), Oslo 1957.
            </p>
            <p>KLNM (VIII: Kalendarium I, p. 89-93), Oslo 1963.</p>
            <p>Tveitane, Mattias 1981: ”Bøker og litteratur i Bergen i middelalder og reformasjonstid”,
               Nordisk tidskrift för bok- och biblioteksväsen 68, p. 99-113.
            </p>
            <p>Tveitane, Mattias 1975: “Et kalenderfragment”, Godbiter fra samlingene: Særtrykk av
               Bergens tidende 21. april 1974-26. april 1975, p. 16. (26. april 1975)
            </p>
            <p>Wormald, Francis 1939-46: English Benedictine calendars after A.D. 1100, London.
               
            </p>
            <p>Fascinated by medieval calendars? For computus-info online, see for instance: 
               <a href="http://www.friesian.com/easter.htm">http://www.friesian.com/easter.htm (English)</a>
               <a href="http://www.computus.de/menton/missale.htm">http://www.computus.de/menton/missale.htm (German)</a></p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript Catalogue [unpublished]</p>
            
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>