<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1549, 4
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201549,%203.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201549,%205.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1549, 4</h1>
         <h2>A commentary on 75 Psalms (formerly attributed to Rufinus
            Aquileiensis)
         </h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>The commentary on 75 psalms (Commentarius in LXXV psalmos) was earlier believed
                  to have been written by Rufinus Aquileiensis (ca 345-410). The author is now
                  unknown. Our text is an abridged version of the work with numerous
                  abbreviations, which leaves the text very concentrated, but not always easily
                  understood. The script from the late 12th century is unbelievably small and
                  written with a pen with a narrow nib. The red and green initials help the reader
                  to find his bearings, marking the different verses of the psalms. These two
                  fragments, which probably were the two outer bifolia of the second quire,
                  contain commentaries to the Psalms 17-19 and 31-33. The fragments are a bit of a
                  mystery, since nothing is known about their history other than the fact that
                  they were used in the binding of a book. How they came to be a part of the
                  Bergen University Library's collection is not recorded. 
               </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201549,%204a%201.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%204a%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%204a%202.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%204a%202.jpg" width="180"></a></div>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201549,%204b%201.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%204b%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%204b%202.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%204b%202.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1549, 4</p>
               <h2>altName</h2>
               <p>MS 410, 4</p>
            </div>
            
            <h4>
               A commentary on 75 Psalms (formerly attributed to Rufinus
               Aquileiensis)
               [Parchment, two cropped bifolia, ca 14,5 x 19,5 cm,
               Northern France or the Low Countries(?), late 12th century.]
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The two fragments contain commentaries to Psalms 17-19 and 31-33. This is
                  an abridged version, and not all verses are included. 
               </p>
               
               <p>The text begins at 1549, 4 a (2) right column: Psalm 17, 30-35. The first
                  initial is a green Q, which marks Psalm 17, 30: Quoniam in te eripiar a
                  te[ntatione]: (for in You I will be delivered from temptation) The rest
                  of the verse is left out, and then comes the comment: non in me. In me
                  enim infirmus, in te fortis sum ([In You I will be delivered, he says],
                  not in me. Because in me I am weak, but in You I am strong) and so on.
                  Red D: Psalm 17, 31: Deus meus impolluta via eius. Green D: Psalm 17,
                  33: Deus qui precinxit me. Red Q: Psalm 17, 35: Qui docet manus meas ad
                  prelium. 
               </p>
               
               <p> 1549, 4a (1) left column: Psalm 17, 36-39. The top text is the first
                  half of Psalm 17, 36, followed by the second half: Green E: Psalm 17,
                  36: Et disciplina tua correxit me in finem. Red D: Psalm 17, 37:
                  Dilatasti gressus meos subtus me. Red P: Psalm 17, 38: Persequar
                  inimicos meos, et com[prehendar illos]. 
               </p>
               
               <p>1549, 4b (2) right column: Psalm 17, 41-46 and Psalm 18, 6-11. The first,
                  concentrated paragraph contains the last words of Psalm 17, 39,
                  proceeding with 41, 42, 43, and 46. Then follows Psalm 18, 6 before the
                  first initial. The green A with red decoration is the first initial for
                  Psalm 18, even though the text more or less glides from Psalm 17 to 18
                  in the preceding paragraph. Green A: Psalm 18, 7: A summo celo egressio
                  eius. Red L: Psalm 18,8: Lex domini immaculata convertens animas. 
               </p>
               
               <p> 1549, 4b (1) left column: Psalm 18, 13-15 and Psalm 19, 2-6. The text
                  begins with the end of Psalm 18, 13, and continues with the first part
                  of 18, 14 without initial, continuing with the second part: Red S: Psalm
                  18, 14: Si mei non fuerint do[minati]. Green D: Psalm 18, 15: Domine,
                  adiutor meus. The initial marking Psalm 19 is a plain one. The first
                  verse is not included: Red E: Psalm 19, 2: Exaudiat te dominus. Green M:
                  Memor sit omnis sa[crificii] tui. 
               </p>
               
               <p> 1549, 4 b (1) right column: Psalm 31, 2-11 and Psalm 32, 1-5. The green
                  E (Exultate) with red decoration marks the beginning of Psalm 32,
                  Exultate iusti in domino. 
               </p>
               
               <p> 1549, 4b (2) left column: Psalm 32, 17 and Psalm 33, 2-15. Green F:
                  Psalm 32, 17: Fallax equus ad salutem. Red B: Psalm 33, 2: Bene[dicam
                  dominum in omni tempore]. Green A: Psalm 33, 6: Accedite ad eum. Green
                  P: Psalm 33, 14: P[rohibe] linguam tuam. Red D: Psalm 33, 15: Declina a
                  malo. 
               </p>
               
               <p> 1549, 4a (1) right column: Psalm 33, 16-19 and Psalm 34, 1-6. The plain
                  red A is for Psalm 34, 2, and comes directly after the ending of the
                  comment to Psalm 33, 19. This is another example of the first initial in
                  a new Psalm not having penned decoration. The top text is the commentary
                  to Psalm 33, 16. Green I: Psalm 33, 19: Iuxta est dominus his qui
                  tri[bulati] sunt corde. Red A: Psalm 34, 2: Apprehende arma. Red F:
                  Psalm 34, 6: Fiat via illorum. 
               </p>
               
               <p> 1549, 4a (2) left column: Psalm 34, 13-28. Green E: Psalm 34, 27:
                  Exultent et letentur.
               </p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>Parchment, two cropped bifolia, ca 14,5 x 19,5
                  cm
               </p>
               
               <p>Lay-out: The two cropped bifolia, which together make two whole folia and
                  two half folia, were probably the two outer bifolia of the second quire
                  (f.1-2+7-8). Each page has been ca &gt;15 x 12 cm. One column per page,
                  &gt;13,5 x 9,5 cm, with &gt;30 lines. Very fine, hardly visible dry point
                  ruling.
               </p>
               
               <p>Script: A very small and fine informal protogothic script with a frequent
                  use of abbreviations. The presence of occasional juncture between round
                  letters pushes the date of origin to the second half of the 12th century. The tironian
                  et-sign is
                  uncrossed. No rubrics. 
               </p>
               
               <p>Initials: Mainly small, plain initials alternating in red and green (one
                  line high), marking the beginning of a new verse. Two of the green
                  letters, both marking the beginning of a new psalm (i.e. not only a new
                  verse), have penned decorations in red. 
               </p>
               
               <p>Condition: The fragments have large, darker spots, probably from glue, as
                  well as traces of paper. The only holes are from their original binding.
                  Their size and condition suggest that they have been glued to the inside
                  of the front and back panels of an octavo bookbinding. 
               </p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>Based on the script the fragments have been dated to the 12th century
               (date supplied by prof. Ludwig Bieler, Dublin, in note from 6/7
               1964). The junctures in the script may suggest the second half of
               the century. At the international fragment workshop in Bergen 2005, this was narrowed down to
               the third quarter of the 12th century. The place of origin was believed to be Northern France or the Low Countries. 
            </p>
            
            <H3>provenance</H3>
            
            <p> The fragments have been used in the binding of an octavo book. The
               margin of 1549, 4a recto has the inscription "NB Herremag 117 dr in
               specie". Whether or not the manuscript was in Norway in the middle
               ages and has been re-used here, is unknown.
            </p>
            
            <H3>acquisition</H3>
            
            <p>No information.</p>
            
            
            <h3>Bibliography</h3>
            <p>Patrologia latina, <a href="http://pld.chadwyck.co.uk">web-edition</a></p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript
               Catalogue [unpublished]
            </p>
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>