<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1549, 7a
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201549,%206.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201549,%207b.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1549, 7a</h1>
         <h2>The Kaupanger Missal fragment</h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>The fragments catalogued under MS 1549, 7 were found underneath the floorboards
                  in the choir of the stave church of Kaupanger in Sogn (Western Norway), during
                  the excavation and restoration of the church in 1964-1965. Immediately after the
                  excavation, the fragments were given to Bergen University Library by Hans-Emil
                  Lidén. This is one of the rare cases where fragments are found on site, not in
                  some archive or bookbinding. It is likely that the missal the fragment came from
                  was used in Kaupanger in the Middle Ages. The script is a fine Carolingian
                  minuscule from the second half of the 12th century, with plain, red initials. 
               </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               <a href="../transcriptions/UBB MS 1549, 7a-transkr.html" class="transcription">Transcription</a><div class="item"><a href="../facsimiles/UBB%20MS%201549,%207a%201.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%207a%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%207a%202.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%207a%202.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1549, 7a</p>
               <h2>altName</h2>
               <p>MS 410, 7a</p>
               <h2>altName</h2>
               <p>Gjerløw: Mi 91</p>
               <h2>altName</h2>
               <p>The fragment is repeatedly called MS 1549, 4a in the literature on
                  the stave church of Kaupanger. 
               </p>
            </div>
            
            <h4>
               The Kaupanger Missal fragment
               [Parchment, one fragment ca. 11,3 x 5,8 cm, unknown
               origin, second half of the 12th century.]
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The contents is from the liturgy of the Mass for Thursday and Friday
                  after the fourth Sunday of Lent. Hans Buvarp (1969, p. 60) has completed
                  the fragmentary texts of fragment 1549, 7 using the later, printed
                  Missale Nidrosiense (1519). The parts added from the printed missal are
                  put in brackets. Other additions are in parentheses. (The transcription
                  and additions are taken from Hans Buvarp 1969.) The lines follow the
                  fragment.
               </p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>Parchment, one fragment ca. 11,3 x 5,8 cm.</p>
               
               <p>Lay-out: The ruling is hardly visible. Size and more specific lay-out of
                  the page is difficult to specify because of the limited size of the
                  fragment.
               </p>
               
               <p>Script: The script is a fine Carolingian minuscule from the second half
                  of the 12th century. The m- and n-abbreviations are wavy, the d’s are
                  straight. Ampersand is used for “et”. However, there is no example of
                  the ae-ligature e caudata, which pushes the date
                  forward. Rubricated. There is no musical notation, but the sung parts
                  are written in a smaller script.
               </p>
               
               <p>Initials: The visible initial is plain, in an orange red colour. The
                  first letter of the Verse Exsurge domine is
                  decorated with a red filling.
               </p>
               
               <p>Condition: The fragment is not in a very good condition. The inner side
                  appears to have been cut with a knife, but the lower part seems more to
                  have been ripped. Something has eaten away a corner. There is also a
                  hole in the margin. The script on the recto side is relatively well
                  preserved, although the upper half is quite faded. The script on the
                  verso side has almost completely disappeared. 
               </p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>Unknown origin, second half of the 12th century, based on the
               script.
            </p>
            
            <H3>provenance</H3>
            
            <p>Was probably used in Kaupanger in the Middle Ages. Was found
               underneath the floorboards of the stave church of Kaupanger during
               the excavations in 1964-65. Buvarp assumes that the fragment was
               used in a binding (Buvarp 1969, p. 57).
            </p>
            
            <H3>acquisition</H3>
            
            <p>Given to the Bergen University Library by Hans Emil
               Lidén in 1965 after the excavations in the
               stave church of Kaupanger.
            </p>
            
            
            <h3>Bibliography</h3>
            <p>Buvarp, Hans 1969: ”To liturgiske fragmenter”, Kaupanger
               stavkirke, Fortidsminner 56, Oslo, p.57-62.
            </p>
            <p>Lidén, Hans-Emil 1969: ”Utgravningene under kirken”, Kaupanger
               stavkirke, Fortidsminner 56, Oslo, p. 5-24. (see p. 19)
            </p>
            <p>Lidén, Hans-Emil and Bjerknes, Kristian 1975: The stave churches
               of Kaupanger, Oslo. (see p. 46) 
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript
               Catalogue [unpublished]
            </p>
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>