<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1550, 7
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201550,%206.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201836,%201.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1550, 7</h1>
         <h2>St. Mary Antiphoner-Gradual</h2>
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>This fragment was used in the binding of a book printed in Hamburg in 1603, which
                  is part of the University library’s holdings. The fragment was probably removed from
                  the binding during the 1960’s. The secondary provenance suggests a connenction to
                  Germany, and the musical notation also betrayes its German origin. The contents are
                  both the melodies for the Magnificat (to be sung at Vespers) and a sequence (to be
                  sung at Mass), which is a bit curious, since the liturgy for Office and Mass are most
                  commonly found in separate books. Since both elements relate to a feast for St. Mary,
                  this is either an Antiphoner-Gradual (i.e. with songs for both Office and Mass) or
                  perhaps a smaller book with Marian liturgy. (Pointed out by musicologist Susan Rankin
                  (Cambridge) at the fragment workshop in October 2005.) 
               </p>
            </div>
            <div id="facsimilies">
               <h3>Facsimiles and transcriptions</h3>
               
               <div class="item"><a href="../facsimiles/UBB%20MS%201550,%207a.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201550,%207a.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201550,%207b.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201550,%207b.jpg" width="180"></a></div>
               
            </div>
         </div>
         <div id="meta">
            
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1550, 7</p>
               <h2>altName</h2>
               <p>Seqv 56a add (in Lilli Gjerløw’s list of additional sequence sources, available in
                  the National Archives, Oslo)
               </p>
            </div>
            
            <h4>St. Mary Antiphoner-Gradual
               [Parchment, one cropped bifolium, ca. 23 x 35,5 cm (leaf size ca. 23 x 20,7 cm), Germany,
               14th century. 
               ]
               
            </h4>
            
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The contents of 1550, 7 are the eight tones for Magnificat, and the sequence Stirpe Maria regia. The fragment is listed as one of 63 Norwegian fragments containing sequences, and
                  it is one of three sequence sources which have come to Norway after the reformation.
                  At the fragment workshop in October 2005 the musicologist Susan Rankin pointed out
                  that the contents relate both to the Offices (through the eight tones for the Magnificat)
                  and to the Mass (through the sequence). This could mean two things: Either that the
                  transmitted chants belonged to a feast for St. Mary in an Antiphoner-Gradual, or that
                  the fragments come from a smaller book, a special book of Marian liturgy.
               </p>
               
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               <p>Parchment, one cropped bifolium, ca. 23 x 35,5 cm (leaf size ca. 23 x 20,7 cm)</p>
               
               <p>Lay-out: Writing space: 20,5 x 14/14,5 cm. One column. 8 lines. The ruling, which
                  includes vertical lines on the sides of the writing space, is made in ink, with a
                  thin pen. 
               </p>
               
               <p>Script: Gothic textualis formata. The y’s are undotted, which is typical of German or Central-European Gothic script
                  (see Derolez 2003, p. 95). There is an example of a round r after the letter a, which
                  is not very common in the 14th century, and quite rare in the 15th century. Rubricated.
               </p>
               
               <p>Musical notation: 	The notation is a German Gothic notation, resembling the Hufnagel.
                  The musical notation is written on what appears to be basically four-line staves,
                  with a yellow C-line and a red F-line. The top staves on the page have four lines,
                  while the staves below appear to have five lines because of the ruling for the text.
                  In one case, this text-line is turned into the c-line, and made a fifth line in the
                  staff. In other cases, a red line seems to have been drawn as a partial fifth “helpline”
                  in spite of the ruling for the text above it. The clefs are C and F, but there is
                  also seems to be a G-clef. 
               </p>
               
               <p>Initials:	The higher level of initials are alternating red and blue. The lower level
                  are black with red fillings. 
               </p>
               
               <p>
                  Condition:	The fragment is very dark on one side. Two small “flaps” have been fastened
                  in the parchment on one side.  
               </p>
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            <p>Germany, 14th century (?). The dating is based on the script alone. </p>
            
            <H3>acquisition</H3>
            
            <p>Acquired with a book by Bernhard Vagetius, printed in Hamburg 1603, and later, probably
               during the 1960’s, removed from the binding. The information about Vagetius is noted
               by Lilli Gjerløw in her unpublished list of additional sequence sources. The library’s
               own notes on the fragments 1550, 6 and 1550, 7 are lost. The two fragments were kept
               together with the other manuscript fragments, but without being registered in the
               library’s manuscript catalogue. They received their current catalogue signatures in
               2005.	
            </p>
            
            <h3>Bibliography</h3>
            <p>Vagetius, B. 1603: Der Erbaren Fry Rykes unde Seestede Lübeck, Bremen, Hamborch, Rostock,
               Stralsund, unde Lüneborch Christlick, unde Ernstlick Mandat wedder de Sacramentschender,
               Wedderdöper, und Gades Lesterer, Anno XXXV, in öffent liken Druck uthgegahn: ...,
               Hamburg.
               
            </p>
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>