<!DOCTYPE html><html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
         Description of UB Bergen MS 1549, 2
         Åslaug Ommundsen
         
      </title>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../css/diplom.css">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Acme|IM+Fell+English:400,400italic|IM+Fell+Great+Primer:400,400italic|IM+Fell+DW+Pica:400,400italic|Bevan|Goudy+Bookletter+1911|Sorts+Mill+Goudy:400,400italic|Open+Sans:400,300,600,700,800,300italic,800italic,700italic,600italic,400italic|Droid+Sans:400,700" rel="stylesheet" type="text/css"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script><script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
    
   }

</script><script type="text/javascript">
function toggleDiv(divClass, divId) {
    $("." + divClass).toggle(false);
    $("#" + divId).toggle(true);
    $("." + "selected").removeAttr('class');    
    $("#li_" + divId).addClass("selected");
}</script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33700623-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
      <!--[if lt IE 9]> <script src="../dist/html5shiv.js"></script> <![endif]--><link rel="stylesheet" type="text/css" href="../fragments.css">
      <link rel="stylesheet" type="text/css" href="../page.css">
   </head>
   <body>
      <header><img alt="fragmentLogo" src="../grafikk/header.jpg" width="197" height="195"><h1>Digital fragment collection</h1>
         <p>Medieval parchment fragments in Bergen University Library and The Regional State Archives
            in Bergen
         </p>
      </header>
      <nav id="topp">
         <ul>
            <li>Meny
               
               <ul>
                  <li><a href="../list/index.html" id="index">
                        
                        Home</a></li>
                  <li><a href="../list/listing.html" id="listing">
                        
                        List</a></li>
                  <li><a href="../list/about_fragments.html" id="about_fragment">About</a></li>
               </ul>
            </li>
         </ul>
      </nav>
      <div id="all">
         <nav class="prev_next"><span class="prev"><a href="UBB%20MS%201549,%201e.html" class="nav_topp">Prev</a></span><span class="next"><a href="UBB%20MS%201549,%203.html" class="nav_topp">Next</a></span></nav>
         <h1>Description of UB Bergen MS 1549, 2</h1>
         <h2>The Good Friday Missal Fragment</h2>
         
         
         <div id="main_fragment">
            <div id="introduction">
               <h2>Introduction</h2>
               <p>In 1964 the palaeographer N. R. Ker discovered this leaf from a 12th century missal
                  among the fragments of Bergen University Library. The script is informal, and
                  the initials are plain in a fading orange red colour. It has been assumed that the
                  missal was written in England around the middle of the 12th century, although recently
                  this origin has been contested (see Origin below). This is the earliest of three 12th
                  century missal fragments in Norway containing prayers from the old
                  English ordinal Regularis Concordia (ca. 970). In England no post-conquest
                  missals are known to contain parts from the Regularis Concordia. Lilli
                  Gjerløw suggests that this missal was used in the diocese of Bergen
                  in the middle ages (Gjerløw 1970).
               </p>
            </div>
            <div id="facsimilies">
               
               <h3>Facsimiles and transcriptions</h3>
               <a href="../transcriptions/UBB MS 1549, 2-transkr.html" class="transcription">Transcription</a><div class="item"><a href="../facsimiles/UBB%20MS%201549,%202%201.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%202%201.jpg" width="180"></a><a href="../facsimiles/UBB%20MS%201549,%202%202.jpg"><img class="small" alt="" src="../facsimiles/UBB%20MS%201549,%202%202.jpg" width="180"></a></div>
               
            </div>
         </div>
         
         
         <div id="meta">
            
            
            
            
            
            
            <div id="identification">
               <h2>Manuscript Identification</h2>
               <h2>settlement</h2>
               <p>Bergen University Library, Art and Humanities Library</p>
               <h2>repository</h2>
               <p>Bergen University Library</p>
               <h2>idno</h2>
               <p>MS 1549, 2</p>
               <h2>altName</h2>
               <p>MS 410, 2</p>
               <h2>altName</h2>
               <p>Mi 51 (Gjerløw)</p>
            </div>
            
            <h4>
               The Good Friday Missal Fragment
               [Parchment, one leaf, 265 x 180 mm,
               England or Norway(?), mid 12th
               century.]
               
            </h4>
            
            <div id="mscontent">
               <h2>Manuscript Content</h2>
               
               <p>The contents of the Missal fragment has been thoroughly described by
                  Lilli Gjerløw (1970), and is part of the Good Friday and
                  Easter-eve liturgy. The text begins with the end of the big prayer of
                  Good Friday (Orationes solemnes). Then follows the Adoration of the
                  cross with the usual Improberia (Christ's hypothetical reproaches), the
                  seven penitential psalms and the two extraliturgical prayers for the
                  same ritual, then Fortunats hymn Pange lingua, and three final antiphons
                  for the "Burial of the cross" (Depositio crucis). Easter-eve begins with
                  two prayers for the blessing of the new fire (after the lights have all
                  been put out during Matins of Maundy-Thursday and Good Friday) and of
                  the incense. Then follows the blessing of the Easter candle, with
                  Exultet.
               </p>
               
               <p>The seven penitential psalms, the two extraliturgical prayers and the
                  antiphons have their origin in the church ordinal Regularis Concordia
                  from ca 970. No known English post-conquest missal contain the Good
                  Friday elements from Regularis Concordia (Gjerløw 1970, pp.
                  88-90).
               </p>
               
               <p>Pasted to the recto side of the fragment is a white piece of paper,
                  reading: 410.2. Foged Vidsten. recto.
               </p>
               
               <p>For a detailed reproduction of contents, see transcription.</p>
               
            </div>
            
            <h2>Physical Description</h2>
            <div id="physdesc">
               
               <p>Parchment, one leaf, 265 x 180 mm</p>
               
               <p>Lay-out: Hardly visible dry point ruling. Full writing space is 20 x 14
                  cm. Two columns for each page, 6,5 cm wide, with 30 lines.
               </p>
               
               <p>Script: Informal protogothic script. The nasal abbreviation is
                  cup-shaped or wavy. The insular abbreviation-sign for est (resembling a minus sign)
                  occurs. The ampersand is used for "et". There is fusion
                  of pp. Rubricated. Some capital letters are marked with red shade.
                  No musical notation, but the sung parts are written in smaller
                  letters. The script is analysed and dated by N. R. Ker to shortly after 1150
                  (see Gjerløw 1970, p. 88). At the fragment workshop in October 2005 Michael Gullick
                  also suggested that the missal was not written earlier than the middle of the 12th
                  century.
               </p>
               
               <p>Initials: Plain initials in an orange red over one or two
                  lines.
               </p>
               
               <p>Condition: The fragment is somewhat stained and darkened, but
                  the text is easily readable. The leaf is uncropped and without
                  holes. The parchment is quite soft.
               </p>
               
            </div>
            
            <h2>History</h2>
            <H3>origin</H3>
            
            <p>England (Worcester or Winchester?) or Norway(?), shortly after 1150.</p>
            
            <p>There are characteristics in the contents pointing towards Worcester
               or Winchester; the prayer following the first
               Regularis Concordia-prayer has only been identified in the
               Portiforium of St. Wulstan, written in Worcester see ca 1070 (Gjerløw 1970), and possibly
               connected to Winchester (Gjerløw 1979, p. 15). However, when this fragment was discussed
               at the international fragment workshop in October 2005, it was pointed out by Michael
               Gullick that some German features in the writing and the pale orange hue of the red
               ink would be untypical for English manuscripts. The numerous mistakes in the Latin
               text (see transcription) would also normally not occur in a manuscript made at a larger
               ecclesiastical centre in England at this time. The assigning of this fragment to England
               is therefore uncertain. The combination of German and English influences along with
               the spelling-mistakes may suggest a Norwegian origin.
            </p>
            
            <H3>provenance</H3>
            
            <p>Possibly used in Bergen during the Middle Ages (Gjerløw
               1970).
            </p>
            
            <H3>acquisition</H3>
            
            <p>The fragment was a gift from the bailiff Ole Vidsten (born 1787,
               bailiff in Sundhordland og Hardanger 1820-1854) to the Bergen
               Museum.
            </p>
            
            
            <h3>Bibliography</h3>
            <p>Gjerløw, Lilli (ed.) 1961: Adoratio crucis, Oslo.</p>
            <p>Gjerløw, Lilli (ed.) 1968: Ordo Nidrosiensis ecclesiae,
               Oslo, pp. 92-93.
            </p>
            <p>Gjerløw, Lilli 1970: "Missaler brukt i
               Bjørgvin bispedømme fra misjonstiden til
               Nidarosordinariet", Bjørgvin bispestol. Byen og
               bispedømmet, Bergen, pp. 73-115.
            </p>
            <p>Gjerløw, Lilli (ed.) 1979: Antiphonarium Nidrosiensis
               ecclesiae, Oslo, p. 15.
            </p>
            <p>Tveitane, Mattias et. al.: Bergen University Library Manuscript
               Catalogue [unpublished]
            </p>
            
            
            
            
            
            
            
            
            
            
         </div>
      </div>
      <footer><img src="../grafikk/uib-103.png" alt="UiBLogo"><h1>Universitetsbiblioteket i Bergen</h1>
         <h2>Spesialsamlingene</h2>
         <p><a href="http://www.uib.no/ub">www.uib.no/ub</a> - <a href="http://www.uib.no/ub/spesial">www.uib.no/ub/spesial</a></p>
         <p>
            <time datetime="2012">Publisert 2012</time>
         </p>
      </footer>
   </body>
</html>